<script type="text/html" id="credentials-dialog">
    <div class="dw-dialog-template container-fluid container-content top-offset-small" data-bind="css: {'ui-state-disabled': isBusy()},
             dwActivity: { active: isBusy },
             dwScrollbar: {
            contentSelector: false,
            options: {
                theme: 'scroll-theme-light',
                autoAdjustContentPadding: true,
                horizontalScrolling: false,
                verticalScrolling: true,
                debug: true,
                pollChanges: true
            }
        }">
        <div class="row info">
            <div class="col-xs-11">
                <span data-bind="text: $R('Credentials_Dialog_Authentication_Description')"></span>
            </div>
            <div class="col-xs-1">
                <span class="ui-icon icon-auto dw-icon-info-plain gray" data-bind="visible: showHeaderInfoBox, infobox: { key: 'Credentials_Dialog_HeaderInfo', options: { placement: 'bottom' } }"></span>
            </div>
        </div>
        <div class="row top-offset-small">
            <div class="col-xs-12">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="userInput" data-bind="text: DW.CredentialsDialog.localize('Credentials_Dialog_Authorize_User')"> </label>
                        <div class="col-xs-9" data-bind="css:{ 'has-error': validationError()}">
                            <input tabindex="1" class="form-control" id="userInput" type="text" data-bind="value: user, valueUpdate: 'keypress'" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-3" for="passwordInput" data-bind="text: DW.CredentialsDialog.localize('Credentials_Dialog_Authorize_Password')">    </label>
                        <div class="col-xs-9" data-bind="css:{ 'has-error': validationError()}">
                            <input tabindex="2" class="form-control" id="passwordInput" type="password" data-bind="value: password, valueUpdate: 'afterkeydown', hasFocus: true, event: { keypress: actionOnEnter}" autocomplete="new-password" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-1"><span class="ui-icon icon-auto dw-icon-info-plain gray pull-right" data-bind="infobox: {key: 'TrayLocations_Dialog_Table', options: {placement: 'bottom'} }"></span></div>
    </div>
    <div class="position-bottom ui-dialog-buttonpane">
        <div class="row">
            <div class="col-xs-4">
                <div class="pull-left">
                    <!-- ko if: showForcedApply() -->
                    <button class="btn btn-default" data-bind="command: $data.noConfirm">
                        <span data-bind="text: $R('Button_OK_Forced_Text')"></span>
                    </button>
                    <!-- /ko -->
                </div>
            </div>
            <div class="col-xs-8">
                <div class="pull-right">
                    <button class="btn btn-default" data-bind="command: $data.cancel">
                        <span data-bind="text: $R('Button_Cancel_Text')"></span>
                    </button>
                    <button id="authButtonConfirm" class="btn btn-primary" data-bind="command: $data.confirm">
                        <span data-bind="text: $R('Button_OK_Text')"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</script>
