<script type="text/html" id="file-cabinet-selector-dropdown-template">
    <ul>        
        <li data-bind="visible:$data.remoteFileCabinetsListVisible">
            <a href="#">
                <span title="" data-bind="text: $data.remoteFileCabinetsList() ? ($data.remoteFileCabinetsList().organizationName() + ' ('+ DW.FCSelector.localize('Other_Organization_Placeholder_Text') +')' ): null"></span>
            </a>
            <ul class="dw-fcColors" data-bind="dwScrollbar: {
                    contentSelector: false,
                    options: {
                        theme: 'scroll-theme-light',
                        preventClickPropagation: true,
                        horizontalScrolling: false,
                        scrollToolsPosition: 'after',
                        zIndex: 10000001,
                        create: function (event, ui) {
                            ui.scrollTools.hide();
                        }
                    }
                }">
                <!-- ko if: $data.remoteFileCabinetsList() -->
                <!-- ko foreach: $data.remoteFileCabinetsList().fileCabinets -->
                <li class="file-cabinet-selector-menu" data-bind="class: $data.Color ? $data.Color : '', event: {click: function(vm) {vm.IsRemote = true;$parents[0].selectedFileCabinet(vm)}}">
                    <a href="#">
                        <span title="" data-bind="text: $data.Name"></span>
                    </a>
                </li>
                <!-- /ko -->
                <!-- /ko -->
            </ul>
        </li>        
        <li>
            <a href="#">
                <span title="" data-bind="text: $data.localFileCabinetsList() ? $data.localFileCabinetsList().organizationName(): null"></span>
            </a>
            <ul class="dw-fcColors" data-bind="dwScrollbar: {
                    contentSelector: false,
                    options: {
                        theme: 'scroll-theme-light',
                        preventClickPropagation: true,
                        horizontalScrolling: false,
                        scrollToolsPosition: 'after',
                        zIndex: 10000001,
                        create: function (event, ui) {
                            ui.scrollTools.hide();
                        }
                    }
                }">
                <!-- ko foreach: $data.localFileCabinetsList().fileCabinets -->
                <li class="file-cabinet-selector-menu" data-bind="class: $data.Color ? $data.Color : '', event: {click: function(vm) {vm.IsRemote = false; $parents[0].selectedFileCabinet(vm)}}">
                    <a href="#">
                        <span title="" data-bind="text: $data.Name"></span>
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </li>
        <!-- ko if: $data.otherOrganization() -->
        <li>
            <a href="#" data-bind="command: $parent.commands.addConnectionToRemoteOrganizationCommand">
                <span class="italic" data-bind="text:DW.FCSelector.localize('AddConnectionToRemoteOrganization_Text')">
                </span>
            </a>
        </li>
        <!-- /ko  -->
    </ul>
</script>