<!-- connection dialog -->
<script type="text/html" id="connection-dialog">
    <div class="dw-dialog-template container-fluid container-content top-offset-small" data-bind="dwScrollbar: {
            contentSelector: false,
            options: {
                theme: 'scroll-theme-light',
                autoAdjustContentPadding: false,
                horizontalScrolling: false,
                debug: true,
                pollChanges: true
            }
        }">
        <div class="form-horizontal">
            <!--<div class="row info bottom-offset-small">
                <div class="col-xs-6" style="padding-left:15px;">
                    <input type="checkbox" class="checkbox" data-bind="checked:usePredefinedUrls" id="usePredefinedUrlsCheck" />
                    <label for="usePredefinedUrlsCheck" data-bind="text: DW.ConnectionDialog.localize('ConnectionDialog_UsePredefinedUrls')" />
                </div>
                <div class="col-xs-5" style="padding-left:15px;">
                    <select class="form-control" data-bind="enable: usePredefinedUrls, value: selectedPredefinedUrl, options:predefinedUrls, optionsValue:'Url', optionsText: 'Name'"></select>                    
                </div>
            </div>-->
            <div class="row info bottom-offset-small">
                <label class="col-xs-3  control-label text-right" data-bind="text: DW.ConnectionDialog.localize('ConnectionDialog_URL_Label')"></label>
                <div class="col-xs-9" data-bind="css: { 'has-error': $data.platformUrl.isModified() && !$data.platformUrl.isValid() }">
                    <input type="text" id="platformUrl" class="form-control" data-bind="attr:{placeholder: DW.ConnectionDialog.localize('Enter_Platform_Url_Text')},value: platformUrl, valueUpdate: 'input'" />
                </div>
                <div class="col-xs-4 text-left">
                    <span class="ui-icon icon-auto dw-icon-info-plain gray" data-bind="infobox: { key: 'PlatformUrl_Label', options: { placement: 'bottom' } }"></span>
                </div>
            </div>
            <div class="row info bottom-offset-small">
                <label class="col-xs-3  control-label text-right" data-bind="text: DW.ConnectionDialog.localize('ConnectionDialog_OrganizationName_Label')"></label>
                <div class="col-xs-9" data-bind="css: { 'has-error': $data.organizationName.isModified() &&  !$data.organizationName.isValid() }">
                    <input class="form-control" rows="3" data-bind="value: organizationName, valueUpdate: 'input'" />
                </div>
                <div class="col-xs-2 text-right">
                    <span class="ui-icon icon-auto dw-icon-info-plain gray" data-bind="infobox: 'ConnectionDialog_OrganizationName_Label'"></span>
                </div>
            </div>
            <div class="row info bottom-offset-small">
                <label class="col-xs-3  control-label text-right" data-bind="text: DW.ConnectionDialog.localize('ConnectionDialog_Username_Label')"></label>
                <div class="col-xs-9" data-bind="css: { 'has-error': $data.username.isModified() && !$data.username.isValid() }">
                    <input class="form-control" rows="3" data-bind="value: username, valueUpdate: 'input'" />
                </div>
                <div class="col-xs-2 text-right">
                    <span class="ui-icon icon-auto dw-icon-info-plain gray" data-bind="infobox: 'ConnectionDialog_Username_Label'"></span>
                </div>
            </div>
            <div class="row info bottom-offset-small">
                <label class="col-xs-3  control-label text-right" data-bind="text: DW.ConnectionDialog.localize('ConnectionDialog_Password_Label')"></label>
                <div class="col-xs-9" data-bind="css: { 'has-error': $data.password.isModified() && !$data.password.isValid() }">
                    <input type="password" autocomplete="off" class="form-control" rows="3" data-bind="value: password, valueUpdate: 'input'" />
                </div>
                <div class="col-xs-2 text-right">
                    <span class="ui-icon icon-auto dw-icon-info-plain gray" data-bind="infobox: 'ConnectionDialog_Password_Label'"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- ko template: 'dialog-exit-buttons-right' -->
    <!-- /ko -->
</script>