<script type="text/html" id="dialog-exit-buttons-right">
    <div class="position-bottom ui-dialog-buttonpane">
        <div class="pull-right">
            <button class="btn btn-secondary" data-bind="command: cancel">
                <span data-bind="text: DW.ConnectionDialog.localize('Button_Cancel_Text')"></span>
            </button>
            <button class="btn btn-primary" data-bind="command: confirm">
                <span data-bind="text: DW.ConnectionDialog.localize('Button_OK_Text')"></span>
            </button>
        </div>
    </div>
</script>