<script type="text/html" id="combobox-template">
    <select class="form-control" data-bind="options: availableItems,
                                            optionsText: displayProp,
                                            optionsValue: valueProp,
                                            value: selectedItem,
                                            enable: enabled(),
                                            attr: elementAttributes,
                                            tooltip: { conditions: [{ type: 'selectElement'}], placement: 'bottom'}" />
</script>