<script type="text/html" id="queryBuilder-template">
    <div class="query-builder" data-bind="css:{'query-builder-no-conditions': group().conditions().length == 0}">
        <!-- ko with: group() -->
        <!-- ko if: $data.conditions().length == 0 -->
        <div class="query-builder-group" data-bind="visible: $data.conditions().length == 0">
            <span class="pull-left m-r-5 top-offset-small" data-bind="text: DW.QueryBuilder.localize('QueryClick_LabelFirstPart')"></span>
            <button class="btn btn-default icon-only pull-left" type="button" data-bind="command: $data.commands.addCondition">
                <i class="ui-icon dw-icon-query-designer-plus-white"></i>
            </button>
            <span class="pull-left m-l-5 top-offset-small m-r-5" data-bind="text: DW.QueryBuilder.localize('QueryClick_LabelSecondPart')"></span>
            <!-- ko if: $data.api.getMaxNestingLevel() > 0 -->
            <button class="btn btn-default icon-only pull-left" type="button" data-bind="command: $data.commands.addCondition">
                <i class="ui-icon dw-icon-query-designer-plus-black"></i>
            </button>
            <span class="pull-left m-l-5 top-offset-small" data-bind="text: DW.QueryBuilder.localize('QueryClick_LabelThirdPart')"></span>
            <!-- /ko-->
        </div>
        <!--/ko -->
        <!-- ko ifnot: $data.conditions().length == 0 -->
        <div class="groups" data-bind="template: $data.api.templateFactory('Group', $data)"></div>
        <!--/ko -->
        <!--/ko -->
    </div>
    <!--<button data-bind="click: function() {console.log($data.getSettings())}">Generate Settings</button>-->
</script>
<script type="text/html" id="group-template">
    <div class="query-builder-group">
        <div class="group-controls">
            <div class="col-operations">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-bind="css: { disabled: $data.conditions().length < 2},
                            contextMenu: $data,
                            contextMenuOptions: {
                                template: 'qbuilder-group-conditions-menu',
                                enabled: ko.computed(function() {return this.conditions().length < 2}, $data),
                                repositionOnScroll: true,
                                stopPropagation: false
                            }">
                        <div data-bind="visible: $data.conditions().length > 1">
                            <span data-bind="text: $data.selectedOperationText()"></span>
                            <span class="caret"></span>
                        </div>
                    </button>
                </div>
            </div>
            <div class="col-conditions">
                <div class="conditions" data-bind="foreach: conditions">
                    <!-- ko template: $data.api.templateFactory('Group', $data) -->
                    <!--/ko -->
                </div>
            </div>
        </div>
        <div class="group-actions">
            <button class="btn btn-default icon-only" type="button" data-bind="command: commands.addCondition, tooltip: { content: DW.QueryBuilder.localize('QueryBuilder_AddCondition') }">
                <i class="ui-icon dw-icon-query-designer-plus-white"></i>
            </button>
            <button class="btn btn-default icon-only" type="button" data-bind="command: commands.addGroupCondition, tooltip: { content: DW.QueryBuilder.localize('QueryBuilder_AddGroupCondition') }">
                <i class="ui-icon dw-icon-query-designer-plus-black"></i>
            </button>
            <!-- ko if: $.isFunction($parent.removeCondition) -->
            <button class="btn btn-default icon-only" type="button" data-bind="click: $parent.removeCondition.bind($parent), tooltip: { content: DW.QueryBuilder.localize('QueryBuilder_RemoveGroupCondition') }">
                <i class="ui-icon dw-icon-query-designer-minus-black"></i>
            </button>
            <!--/ko -->
        </div>
    </div>
</script>
<script type="text/html" id="missing-field-operator-and-condition-controls-template">
    <style>
        .form-control-info-text {
            background: none;
            border: 0;
        }
    </style>
    <div class="form-control form-control-info-text">
        <span data-bind="text: DW.QueryBuilder.localize('QueryBuilder_invalidField')"></span>
    </div>
</script>
<script type="text/html" id="operator-qb-controls-template">
    <!-- ko template: {
               name: 'qbuilder-form-control',
               data: {
                   template: 'qbuilder-form-control-options',
                   options: $data.operators,
                   hasSingleItem: function () {return $data.operators().length == 1},
                   value: $data.selectedOperator,
                   optionsText: 'Name'
               }
           } -->
    <!--/ko -->
</script>

<script type="text/html" id="operator-and-condition-controls-template">
    <!-- ko template: 'operator-qb-controls-template' -->
    <!--/ko -->
    <!-- ko with: conditionProvider() -->
    <!-- ko template: $data.api.templateFactory('ConditionProvider', $data) -->
    <!--/ko -->
    <!--/ko -->
</script>
<script type="text/html" id="condition-template">
    <div class="query-builder-condition" data-bind="css : {
        'qbtxt-standard-has-error' : !$data.validate().isValid && !$data.missingField(),
        'qbtxt-error-missing-filed': $data.missingField()
    }">

        <!-- ko template: 'select-qb-fields-template' -->
        <!--/ko -->
        <!--ko template: missingField()? 'missing-field-operator-and-condition-controls-template' : 'operator-and-condition-controls-template'-->
        <!--/ko-->
        <!-- ko template: 'delete-condition-template' -->
        <!--/ko -->
    </div>
</script>
<script type="text/html" id="select-qb-fields-template">
    <!-- ko template: {
        name: 'qbuilder-control-position-menu',
        data: {
            template: 'qbuilder-condition-field-menu',
            data: {
                missingField: $data.missingField,
                fieldMenuVisible: $data.fieldMenuVisible,
                fields: $data.fcFields,
                selectedField: $data.selectedField,
                hideSystemFields: $data.hideSystemFields
            },
            selectedOption: selectedField,
            selectedText: 'Name',
            visible: fieldMenuVisible
            }
        } -->
    <!--/ko -->
</script>

<script type="text/html" id="delete-condition-template">
    <button class="btn btn-default icon-only" type="button" data-bind="command:$parent.commands.removeCondition, tooltip: { content: DW.QueryBuilder.localize('QueryBuilder_RemoveCondition')}">
        <i class="ui-icon dw-icon-query-designer-minus-white"></i>
    </button>
</script>

<script type="text/html" id="text-field-button">
    <span class="input-group-btn dw-imageButton">
        <button type="button" class="dw-imageButton ac-button" tabindex="-1" data-bind="jqueryui: {
            widget: 'button',
            options: {
                icons: {
                    primary: (visible() ? 'ui-icon-carat-1-n' : 'ui-icon-carat-1-s')
                },
                label: false,
                text: false
            }
        }"></button>
    </span>
</script>
<script type="text/html" id="simple-autocomplete-list">
    <!-- ko if: $data.list && $data.list.items().length > 0 -->
    <ul class="select-list" data-bind="template: 'autocomplete-list-items'"></ul>
    <!-- /ko -->
</script>
<script type="text/html" id="qbuilder-autocomplete-menu">
    <div class="dw-autocompleteColumnContainer ui-widget " data-bind="visible: $data.visible, dwActivity: { active: $data.loading, length: 3, radius: 3, width: 2 }">

        <div class="dw-autocompleteScrollArea" data-bind="dwScrollbar: {
            contentSelector: '.dw-scroll-content',
            options: {
                theme: 'scroll-theme-light',
                updateTriggers: {
                    autocompleteMenu: $data
                }
            }
        }">
            <div class="dw-scroll-content">
                <i>
                    <!-- ko template: {
                        name: 'simple-autocomplete-list',
                        data: {
                            list: $data.lists.suggestions,
                            onClick: function (value) {
                                this.onSelectListItemClick(value)
                            }.bind($data)
                        }
                    } -->
                    <!-- /ko -->
                </i>
                <!-- ko if: lists.suggestions && lists.suggestions.items().length > 0 -->
                <hr>
                <!-- /ko -->
                <!-- ko if: $data.getSelectListsLength() > 0 -->
                <!-- ko template: {
                    name: 'simple-autocomplete-list',
                    data: {
                        list: $data.lists.selectList,
                    }
                } -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
        <!-- ko if: $data.getSelectListsLength() == 0 && !$data.loading() -->
        <span class="dw-autocomplete-noentries" data-bind="text: DW.QueryBuilder.localize('QueryBuilder_AutocompleteEmptyResult')"></span>
        <!-- /ko -->
    </div>
</script>
<script type="text/html" id="qbuilder-form-control">
    <!--ko if: !$data.hasSingleItem()-->
    <div class="form-control" tabindex="0" data-bind="contextMenu: $data,
         contextMenuOptions: {
            template: $data.template,
            enabled: true,
            data: $data.data,
            repositionOnScroll: true,
            stopPropagation: false,
            positionAtElement: true
        }, tooltip: { conditions: [{ type: 'truncated', arg: function() { return $data.value()[$data.optionsText]; }}]}">
        <span>
            <span data-bind="text: $data.value()[$data.optionsText]"></span>
            <span class="caret"></span>
        </span>
    </div>
    <!--/ko-->
    <!--ko if: $data.hasSingleItem() -->
    <div class="form-control ui-state-disabled" data-bind="tooltip: { conditions: [{ type: 'truncated', arg: function() { return $data.value()[$data.optionsText]; }}]}">
        <span data-bind="text: $data.value()[$data.optionsText]"></span>
    </div>
    <!--/ko-->
</script>
<script type="text/html" id="qbuilder-form-control-options">
    <ul data-bind="foreach: options">
        <li data-bind="css: {'ui-state-disabled' : $data==$parent.value()}">
            <a href="#" data-bind="text: $data[$parent.optionsText], click: $parent.value"></a>
        </li>
    </ul>
</script>
<script type="text/html" id="qbuilder-control-position-menu">
    <div class="form-control" tabindex="0" data-bind="position: {
            isVisible: $data.visible,
            positionAtElement: true,
            stopPropagation: true,
            template: $data.template,
            focusElement: '.ui-menu',
            closeOnEscape: true,
            repositionOnScroll: true,
            data: $data.data,
},tooltip: { conditions: [
         { type: 'default', arg: function() { return $data.data.missingField() ? DW.QueryBuilder.localize('QueryBuilder_invalidField') : ''; } }, 
         { type: 'truncated', arg: function() { return $data.selectedOption()[$data.selectedText] } }
    ] }">
        <span>
            <span data-bind="text: $data.selectedOption()[$data.selectedText]"></span>
            <span class="caret"></span>
        </span>
    </div>
</script>
<script type="text/html" id="qbuilder-condition-field-menu">
    <div class="menu-container">
        <ul data-bind="baseMenu: {},
            dwScrollbar: {
                contentSelector: false,
                options: {
                    theme: 'scroll-theme-light',
                    autoAdjustContentPadding: false,
                    horizontalScrolling: false,
                    scrollToolsPosition: 'after',
                    preventClickPropagation: true,
                    zIndex: 10000001,
                    updateTriggers: {
                        observable: $data.fieldMenuVisible
                    }
                }
            }">
            <!-- ko foreach: fields -->
            <!-- ko if: $data.UserDefined -->
            <li data-bind="css: {'ui-state-disabled': $parent.selectedField() == $data}">
                <a href="javascript:" data-bind="text:$data.Name, click: $parent.selectedField"></a>
            </li>
            <!-- /ko -->
            <!-- /ko -->
        </ul>
        <!--ko if: !$data.hideSystemFields -->
        <ul data-bind="baseMenu: {
            enableDwScrollbar: true
        }">        
            <li class="divider" style="display: block"></li>
            <li>
                <a href="javascript:" data-bind="text: DW.QueryBuilder.localize('QueryBuilder_SystemFields')"></a>
                <ul data-bind="dwScrollbar: {
                contentSelector: false,
                options: {
                    theme: 'scroll-theme-light',
                    autoAdjustContentPadding: false,
                    horizontalScrolling: false,
                    scrollToolsPosition: 'after',
                    preventClickPropagation: true,
                    zIndex: 10000001,
                    create: function (event, ui) {
                        ui.scrollTools.hide();
                    }
                }
            }">
                    <!-- ko foreach: fields -->
                    <!-- ko ifnot: $data.UserDefined -->
                    <li data-bind="css: { 'ui-state-disabled': $parent.selectedField() == $data}">
                        <a href="javascript:" data-bind="text: $data.Name, click: $parent.selectedField"></a>
                    </li>
                    <!-- /ko -->
                    <!-- /ko -->
                </ul>
            </li>      
        </ul>
        <!-- /ko -->
    </div>
</script>
<script type="text/html" id="qbuilder-group-conditions-menu">
    <ul data-bind="foreach: operations">
        <li data-bind="css: {'ui-state-disabled' : $data.Value==$parent.selectedOperation()}">
            <a href="#" data-bind="text: $data.Name, click: function(vm) {$parent.selectedOperation(vm.Value)}"></a>
        </li>
    </ul>
</script>

<script type="text/html" id="empty-provider-template">

</script>
<script type="text/html" id="memo-provider-template">
    <div class="input-group input-group-autocomplete">
        <input class="form-control qb-txt-standard" type="text" data-bind="
               textInput: $data.value,
               qbAutocompleteMenu: {
               data: $data,
               viewModelOptions: {
               fieldValue: $data.value
               }
               }" />
    </div>
</script>
<script type="text/html" id="text-provider-template">
    <div class="input-group input-group-autocomplete input-group-as-input">
        <input class="form-control qb-txt-standard" type="text"
               data-bind="textInput: value,
                           qbAutocompleteMenu: {
                               data: $data,
                               viewModelOptions: {
                                   fieldValue: value,
                                   setSelectListValue: value,
                                   suggestionsProvider: function(text) {
                                       return $data.systemFunctions && (!text || $data.systemFunctions.indexOf(text) > -1) ? $data.systemFunctions : [];
                                   },
                                   selectListProvider: function(text) {
                                       if($data.systemFunctions && $data.systemFunctions.indexOf(text) > -1)
                                            text = '';
                                       return $data.api.getSelectListData($parent.selectedField().Guid, text);
                                   }
                               },
                               menuAppearanceDeterminingElement: $($element).closest('.input-group-autocomplete')
                          },
                          tooltip: { conditions: [{ type: 'truncated', arg: value }] }" />
    </div>
    <!--input class="form-control" disabled="true" type="text" data-bind="value: selectedFunction" /-->
</script>
<script type="text/html" id="sql-provider-template">
    <div class="input-group input-group-autocomplete">
        <input class="form-control qb-txt-standard" type="text"
               data-bind="textInput: $data.value,
                           qbAutocompleteMenu: {
                               data: $data,
                               viewModelOptions: {
                                   fieldValue: $data.value,
                                   setSelectListValue: function(value) {
                                       var val=$($element).insertAtCaret(value).val();
                                       $data.value(val);
                                   },
                                   suggestionsProvider: $data.api.suggestionsProviderFactory($parent.selectedField())
                               }
                           }" />
    </div>
</script>

<script type="text/html" id="numeric-provider-template">
    <!--ko template:{ name:'base-numericfield-input-template',
            data: {
                numericValue: $data.value,
                numericValueOptions: DW.Utils.getNumericValueOptions($parent.selectedField().DigitsAfterDecimalPoint),
                tooltipContent: 'QueryBuilder_Invalid_Number_Input',
                digitsAfterDecimalPoint: $parent.selectedField().DigitsAfterDecimalPoint
            }
        }-->
    <!--/ko-->
</script>
<script type="text/html" id="numeric-range-provider-template">
    <!--ko template:{ name:'base-numericfield-input-template',
            data: {
                numericValue: $data.fromValue,
                numericValueOptions: DW.Utils.getNumericValueOptions($parent.selectedField().DigitsAfterDecimalPoint),
                tooltipContent: 'QueryBuilder_Invalid_Number_Input',
                digitsAfterDecimalPoint: $parent.selectedField().DigitsAfterDecimalPoint
            }
        }-->
    <!--/ko-->
    <span class="" data-bind="text: DW.QueryBuilder.localize('QueryBuilder_RangeTo')"> </span>
    <!--ko template:{ name:'base-numericfield-input-template',
            data: {
                numericValue: $data.toValue,
                numericValueOptions: DW.Utils.getNumericValueOptions($parent.selectedField().DigitsAfterDecimalPoint),
                tooltipContent: 'QueryBuilder_Invalid_Number_Input',
                digitsAfterDecimalPoint: $parent.selectedField().DigitsAfterDecimalPoint
            }
        }-->
    <!--/ko-->
</script>
<script type="text/html" id="decimal-provider-template">
    <!--ko template:{ name:'base-numericfield-input-template',
            data: {
                numericValue: $data.value,
                numericValueOptions: DW.Utils.getDecimalValueOptions($parent.selectedField().DigitsAfterDecimalPoint),
                tooltipContent: 'QueryBuilder_Invalid_Decimal_Input',
                digitsAfterDecimalPoint: $parent.selectedField().DigitsAfterDecimalPoint
            }
        }-->
    <!--/ko-->
</script>
<script type="text/html" id="decimal-range-provider-template">
    <!--ko template:{ name:'base-numericfield-input-template',
            data: {
                numericValue: $data.fromValue,
                numericValueOptions: DW.Utils.getDecimalValueOptions($parent.selectedField().DigitsAfterDecimalPoint),
                tooltipContent: 'QueryBuilder_Invalid_Decimal_Input',
                digitsAfterDecimalPoint: $parent.selectedField().DigitsAfterDecimalPoint
            }
        }-->
    <!--/ko-->
    <span class="" data-bind="text: DW.QueryBuilder.localize('QueryBuilder_RangeTo')"> </span>
    <!--ko template:{ name:'base-numericfield-input-template',
            data: {
                numericValue: $data.toValue,
                numericValueOptions: DW.Utils.getDecimalValueOptions($parent.selectedField().DigitsAfterDecimalPoint),
                tooltipContent: 'QueryBuilder_Invalid_Decimal_Input',
                digitsAfterDecimalPoint: $parent.selectedField().DigitsAfterDecimalPoint
            }
        }-->
    <!--/ko-->
</script>

<script type="text/html" id="base-numericfield-input-template">
    <input class="form-control dw-numericfield qb-txt-standard" type="text" data-bind="
           numericValue: numericValue,
           numericValueOptions: numericValueOptions,
           tooltip: { conditions: [{ type: 'truncated', arg: numericValue }, { type: 'validateNumeric', arg: DW.QueryBuilder.localize(tooltipContent, DW.Utils.getExampleString(digitsAfterDecimalPoint)) } ] }" />
</script>

<script type="text/html" id="date-provider-template">
    <input class="form-control dw-numericfield qb-txt-standard" type="text" data-bind="
           datepicker: $data.value,
           datepickerOptions: { changeMonth: true, changeYear: true, showButtonPanel: true }" />
</script>
<script type="text/html" id="datetime-provider-template">
    <input class="form-control input-sm-datetime dw-numericfield qb-txt-standard" type="text" data-bind="
           datetimepicker: $data.value,
           datepickerOptions: { changeMonth: true, changeYear: true, showButtonPanel: true }" />
</script>
<script type="text/html" id="date-range-provider-template">
    <input class="form-control input-sm dw-daterangefield qb-txt-standard" type="text" data-bind="
           datepicker: $data.fromValue,
           datepickerOptions: { changeMonth: true, changeYear: true, showButtonPanel: true, isRangeStartDate: true },
           maxValue: $data.toValue" />
    <span class="" data-bind="text: DW.QueryBuilder.localize('QueryBuilder_RangeTo')"> </span>
    <input class="form-control input-sm dw-numericField qb-txt-standard" type="text" data-bind="
           datepicker: $data.toValue,
           datepickerOptions: { changeMonth: true, changeYear: true, showButtonPanel: true, isRangeEndDate: true },
           minValue: $data.fromValue" />
</script>
<script type="text/html" id="datetime-range-provider-template">
    <input class="form-control input-sm-datetime dw-daterangefield qb-txt-standard" type="text" data-bind="
           datetimepicker: $data.fromValue,
           datepickerOptions: { changeMonth: true, changeYear: true, showButtonPanel: true, isRangeStartDate: true },
           maxValue: $data.toValue" />
    <span class="" data-bind="text: DW.QueryBuilder.localize('QueryBuilder_RangeTo')"> </span>
    <input class="form-control input-sm-datetime dw-daterangefield qb-txt-standard" type="text" data-bind="
           datetimepicker: $data.toValue,
           datepickerOptions: { changeMonth: true, changeYear: true, showButtonPanel: true, isRangeEndDate: true },
           minValue: $data.fromValue" />
</script>
<script type="text/html" id="relative-date-provider-template">
    <span>
        <input class="form-control dw-numericField qb-txt-standard" style="width: 100px" type="text" data-bind="numeric, numericOptions: { wholeNumbers: true }, spinner: {
          value: $data.value,
          min: 0,
          step: 1,
          max: 2147483647
         }" />
    </span>
    <!-- ko template: {
            name: 'qbuilder-form-control',
            data: {
                template: 'qbuilder-form-control-options',
                options: $data.units,
                hasSingleItem: function () {return $data.units.length == 1},
                value: $data.selectedPeriod,
                optionsText: 'name',
                enabled: true
            }
        } -->
    <!--/ko -->
</script>