<script type="text/html" id="name-component-template">
    <div class="row ndc-name-container read-only col-xs-12" data-bind="css: { 'read-only': isReadonly() }">
        <div class="name">
            <!-- ko if: isReadonly() -->
            <!-- ko template: { name: 'name-readonly-content-template', data: $data } -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: isReadonly() -->
            <!-- ko template: { name: 'name-edit-content-template', data: $data } -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
    </div>
</script>

<script type="text/html" id="name-readonly-content-template">
    <span data-bind="text: text"></span>
</script>

<script type="text/html" id="name-edit-content-template">
    <div data-bind="css: { 'has-error': (hasNameValidation) ? !text.isValid() : false }">
        <a href="#" data-bind="text: text, click: text.beginEdit, visible: !text.inTransaction(),hasFocus: !text.inTransaction(), tooltip: { content: textTooltip, placement: 'bottom' }"></a>
        <input type="text" class="form-control"
               data-bind="value: $data.text,
                        event: {
                            blur: $data.editNameStop
                        },
                        visible: text.inTransaction,
                        hasFocus: text.inTransaction,
                        selected: $data.text,
                        valueUpdate: $data.valueUpdate,
                        mousedownBubble: false,
                        returnKey: editNameStop,
                        escKey: editNameStop" />
    </div>
</script>

<script type="text/html" id="description-component-template">
    <!-- ko if: isReadonly() -->
    <!-- ko template: { name: 'description-readonly-template', data: $data } -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: isReadonly() -->
    <!-- ko template: { name: 'description-edit-template', data: $data } -->
    <!-- /ko -->
    <!-- /ko -->
</script>

<script type="text/html" id="description-readonly-template">
    <!-- Provide a data with the template consisting of description observable and preffered placement[optional].
        An icon with tooltip will be shown if content is provided and hidden when the description is empty. -->
    <!-- ko if: text()-->
    <span class="ui-icon dw-icon-chat gray description" tabindex='0' data-bind="tooltip: { 
          tooltipClass: 'ui-tooltip-pre-wrap',
          content: function () { return text().trim() },
          placement: $data.tooltipPlacement || 'right' }"></span>
    <!--/ko-->
</script>

<script type="text/html" id="description-edit-template">
    <button class="btn btn-transparent icon-only" tabindex='0' data-bind="popover: {
            templateName: 'description-popover-template',
            viewModel: $data,
            container: $data.container,
            trigger: 'manual',
            placement: 'right',
        },
        event: {
            mousedown: function () {
                /*Here we are returning 'false' on 'mousedown' because by default
                  name input is losing focus on 'mousedown'. If at same time we
                  are trying to open popover it will fail because
                  it's button will be moved.
                  Now when we are preventing popover move on 'mousedown'
                  it will be shown when we would like to open it.
                  And popover button will be moved on 'click' instead of 'mousedown'.*/
                return false;
            },
            click: function (vm, event) {
                event.stopPropagation();
                $($element).popover('open');
                /*We are invoking refreh immediately after open because
                  if at same time we are opening popover and unfocus name input
                  we will would like popover to take its ordinary position
                  in dependence of open button*/
                $($element).popover('refresh');
            },
            popoveropen: function () {
                var POPOVER_BODY = '.dw-popover',
                    POPOVER_TEXTAREA = POPOVER_BODY + ' textarea',
                    closePopover = function (event) {
                        var isClickOutsideOfPopoverTextarea = ($(event.target).closest(POPOVER_BODY).length === 0);
                        if (isClickOutsideOfPopoverTextarea) {
                            var popoverExists = !!$($element).data('ui-popover');
                            if (popoverExists) {
                                $($element).popover('close');
                            }

                            $(document.body).off('click', closePopover);
                        }
                    },
                    popoverTextArea = $(POPOVER_TEXTAREA),
                    popoverValue = popoverTextArea.val();

                /*We are changing popovers value to make cursor go to the end of value in IE too*/
                popoverTextArea.focus().val('').val(popoverValue);
                $(document.body).on('click', closePopover);
            }
        },
        tooltip: {  tooltipClass: 'ui-tooltip-pre-wrap', content: function () { return text() ? text().trim() : textTooltip; }, placement: 'right' }">
        <i class="ui-icon dw-icon-chat"></i>
    </button>
</script>

<script type="text/html" id="description-popover-template">
    <div>
        <textarea cols="50" rows="5" data-bind="value: text"></textarea>
    </div>
</script>

<script type="text/html" id="name-description-template">
    <div class="ndc-name-container" data-bind="css: { 'read-only': $data.name.isReadonly() }">
        <div class="name">
            <!-- ko if: name.isReadonly() -->
            <!-- ko template: { name: 'name-readonly-content-template', data: $data.name } -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: name.isReadonly() -->
            <!-- ko template: { name: 'name-edit-content-template', data: $data.name } -->
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <!-- ko template: { name: 'description-component-template', data: $data.desc } -->
        <!-- /ko -->
    </div>
</script>