/* DocuWare Permission Control
----------------------------------*/

.ui-multiselect
{
	border-style: none;
  font-size:.8em;
	padding-top:0px;
	width:701px !important; /* fix for Bug:45510; */
}

.ui-multiselect ul
{
  -moz-user-select:none;
}

.ui-multiselect li
{
  cursor:default;
  line-height:20px;
  height:20px;
  font-size:11px;
  list-style:none;
  margin:0;
  padding:0;
}

.ui-multiselect li a
{
  color:#999;
  text-decoration:none;
  display:block;
  float:left;
  cursor:pointer;
  padding:0;
}

.ui-multiselect div.available, .ui-multiselect div.availableUser {
  width: 350px !important;
  border-style: none;
  position:relative;
  border:0;
  float:left;
  margin:0;
  padding:0;
}

.ui-multiselect div.selected, .ui-multiselect div.selectedUser {
  width: 350px !important;
  position:relative;
  border:0;
  float:left;
  margin:0;
  padding:0;
}

.ui-multiselect ul.selected, .ui-multiselect ul.selectedUser {
  overflow:auto;
  overflow-x:hidden;
  list-style:none;
  position:relative;
  width:100%;
  margin:0;
  padding:0;
}

.ui-multiselect ul.available, .ui-multiselect ul.availableUser
{
  position:relative;
  overflow:auto;
  overflow-x:hidden;
  list-style:none;
  width:100%;
  margin:0;
  padding:0;
}

.ui-multiselect .ui-state-default
{
  border:none;
  margin-bottom:1px;
  position:relative;
  padding-left:20px;
}

.ui-multiselect .ui-state-hover
{
  border:none;
}


.ui-multiselect .actions.ui-widget-header {
  border-style: none;
  background-color: #C8D3E1;
}

.ui-multiselect .ui-widget-header
{
  background: transparent none no-repeat center center;
  border-bottom: 1px solid #00538D;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}


.ui-multiselect .search
{
  float:left;
  padding:4px;
}

.ui-multiselect .count
{
  float:left;
  padding:7px;
}

.ui-multiselect li span.ui-icon-arrowthick-2-n-s
{
  position:absolute;
  left:2px;
}

.ui-multiselect li a.action
{
  position:absolute;
  right:2px;
  top:2px;
}

.ui-multiselect input.search
{
	height: 18px;
	width: 150px;
  opacity:0.5;
  margin:4px;
  padding:1px;
}

.ui-multiselect li.ui-draggable-dragging,.ui-multiselect ul.available li, .ui-multiselect ul.availableUser li
{
  padding-left:10px;
}

.ui-multiselect .add-all,.ui-multiselect .remove-all
{
  float:right;
  padding:7px;
}

.ui-multiselect .ui-tabs .ui-tabs-selected {
  background: none repeat scroll 0 0 #EBF0F3;
}

.ui-multiselect .ui-tabs .ui-tabs-nav {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}

.ui-multiselect .ui-tabs .ui-tabs-nav li {
  height: 25px;
  line-height: 15px;
}

.ui-multiselect .ui-tabs-panel.ui-widget-content {
  border-bottom: 1px solid #00538D;
  border-right: 1px solid #00538D;
  border-left: 1px solid #00538D;
}

.ui-multiselect ul.connected-list {
  background-color: #EBF0F3;
}
.ui-multiselect .connected-list li.ui-state-hover {
  background: #c6e2ec none no-repeat center center;
  border-style: none;
  height: 24px;
  line-height: 20px;
}
.ui-multiselect .connected-list li {
  vertical-align: middle;
  background: transparent none no-repeat center center;
  border-style: none;
  height: 24px;
  line-height: 20px;
}