<script id="more-options-component" type="text/html">
    <div class="more-options-container" data-bind="scrollElementIntoView: { 
                         shouldScroll: function () { return shouldScrollIntoView; }, 
                         options: true }">
        <div class="bottom-offset-medium">
            <div class="container-fluid container-content more-options">
                <a class="ui-icon icon-auto arrow-more" data-bind="css: { expanded: shouldShowCustomTemplate }"></a>
                <a class="blue" href="#" data-bind="text: label, command: customTemplateVisibilityChangeCommand"></a>
            </div>
        </div>
        <div data-bind="bindIf: shouldShowCustomTemplate">
            <!-- ko template: { 
                name: templateName, 
                data: vm, 
                afterRender: function() { setTimeout(function() { afterCustomTemplateRendering(); }, 0) } } --> 
            <!-- /ko -->
        </div>
    </div>
</script>
