<!----ko template: {
        name: 'table-template',
        data: {
            stateHolders: {
                isVisible: , -- observable
            },
            viewModels:{
                mainVM: '',  -- may not be needed when commands are made delegated. Used only for the commands defined in the MainVM which holds the VM of the table
                tableVM: '', --- required
                tableForCreateVM: ''  -- required if you want editable table. Otherwise is not needed,
                headerVM: '', -- optional
            },
            tableTemplates: {
                wrapper: '',
                scroll: '',
                container: '',
                body: '',
                tHeader: '',
                rowsPrefix: '', //the place for dummy rows at the beggining of the table
                rowsPostfix: '', //the place for dummy rows at the end of the table
                tRow: '',
                editableRow: '' --  this is required if you want to have editable table row. Otherwise is not needed
            },
            resizableColumns: {}, -- all resizableColumns binding options may be passed (including updateTriggers)
            updateTriggers: {}
        }
    }-->
<!----/ko-->

<!---------------------------------------------------- PUBLIC TEMPLATES ---------------------------------------------------->

<script type="text/html" id="select-all">
    <tr>
        <td class="text-center" data-bind="command: ctx.selectAll">
            <input type="checkbox" class="checkbox" data-bind="checked: ctx.selectAll.inUse(), attr: { id: (ctx.name + '_checkbox') }" />
            <label tabindex="0" data-bind="attr: { for: (ctx.name + '_checkbox') }"></label>
        </td>
        <!--<td data-bind="attr : {colspan : $data.hasOwnProperty('textColSpan') ? textColSpan : 1}"><span data-bind="text: selectAllText"></span></td>-->
        <td colspan="100"><span data-bind="text: selectAllText"></span></td>
    </tr>
</script>

<!--
    Simple usage of 'input-filter'
    <span data-bind="template: {
                        name: 'input-filter',
                        data: {
                                placeholder: $R('Table_Filter'),
                                hasFocus: !$data.detailsView(),
                                clearFilter: $data.view().table.clearFilter,
                                filterText: $data.view().table.filterText
                        } }">
    </span>
-->
<script type="text/html" id="input-filter">
    <div class="left-inner-addon pull-right">
        <span class="ui-icon icon-auto dw-icon-tools-find"></span>
        <span>
            <input type="search" class="gray-border"
                   data-bind="value: $data.filterText,
                       hasFocus: ( ($data.hasFocus || $data.hasFocus === false) ? $data.hasFocus : true ),
                       valueUpdate: 'input',
                       escKey: $data.clearFilter,
                       attr: {
                           placeholder: $data.placeholder
                       }" />
        </span>
    </div>
</script>

<script type="text/html" id="category-filter-template">
    <!--ko foreach: $data.getCategoryFilters()-->
    <button class="btn btn-tertiary" data-bind="click: $parent.filterKey.bind($parent, $data.key), text: $data.displayName, css: { 'btn-active': $parent.filterKey() == $data.key }"></button>
    <!--/ko-->
</script>

<!--
    Sample usage of 'sortable-table-header'
    <th data-bind="template: {name: 'sortable-table-header', data: { sortProperty:'name', text: $R('FieldsTable_Name_ColumnText')}}"></div>
-->
<script type="text/html" id="sortable-table-header">
    <div class="header-cell"
         data-bind="tooltip: { placement: 'bottom', conditions: [{ type: 'truncated', arg: ($data.getName && $data.getName()) || $data.text }] }, click: $data.changeSortDirection || $parent.getSortTrigger($data.sortProperty)">

        <span data-bind="text: ($data.getName && $data.getName()) || $data.text"></span>
        <span class="ui-icon" data-bind="css: ($data.getCss && $data.getCss()) || $parent.getSortCss($data.sortProperty)"></span>
    </div>
</script>

<!--
    Sample usage of 'simple-table-header'
    <th data-bind="template: {name: 'simple-table-header', data: { text: $R('FieldsTable_Name_ColumnText')}}">
-->
<script type="text/html" id="simple-table-header">
    <!--ko with: { text: ($data.getName && $data.getName()) || $data.text } -->
    <div class="header-cell"
         data-bind="text: text, tooltip: { placement: 'bottom', conditions: [{ type: 'truncated', arg: text }] }"></div>
    <!--/ko-->
</script>

<script type="text/html" id="table-template">
    <div data-bind="table: $data">
        <!--ko template: 'table-wrapper-template'--><!--/ko-->
    </div>
</script>

<script type="text/html" id="table-wrapper-template">
    <!--ko template: tableTemplates.wrapper--><!--/ko-->
</script>

<script type="text/html" id="table-scroll-template">
    <!--ko template: tableTemplates.scroll--><!--/ko-->
</script>

<script type="text/html" id="table-container-template">
    <!--ko template: tableTemplates.container--><!--/ko-->
</script>

<script type="text/html" id="table-body-template">
    <!--ko template: tableTemplates.body--><!--/ko-->
</script>

<script type="text/html" id="simple-table-body-template">
    <!--ko if: tableTemplates.rowsPrefix-->
    <!--ko template: { name: tableTemplates.rowsPrefix, data: viewModels }--><!--/ko-->
    <!--/ko-->
    <!--ko template: {
        name: tableTemplates.itemsView,
        data: {
            mainVM: viewModels.mainVM,
            tableTemplates: tableTemplates,
            tableVM:  viewModels.tableVM,
            isVisible: behaviour.isVisible,
            behaviour: behaviour
        }} -->
    <!--/ko-->
    <!-- ko if: viewModels.tableForCreateVM -->
    <!--ko template: {
        name: tableTemplates.itemsView,
        data: {
            mainVM: viewModels.mainVM,
            tableTemplates: {
                tRow: tableTemplates.editableRow
            },
            tableVM: viewModels.tableForCreateVM,
            isVisible: behaviour.isVisible,
            behaviour: behaviour
        }} -->
    <!--/ko-->
    <!--/ko-->
</script>

<script type="text/html" id="table-items-view-with-after-render-notifier">
    <!--ko template: 'table-items-view'--><!--/ko-->
    <!--ko template: { afterRender: behaviour.afterRender } --><!--/ko-->
</script>

<script type="text/html" id="table-scrollless-template">
    <div class="table-content" data-bind="dwActivity: { active: viewModels.tableVM.isBusy, appendTo: $('body') }">
        <!--ko template: 'table-container-template' --><!--/ko-->
    </div>
</script>

<!------------------------------------------------ END OF PUBLIC TEMPLATES ------------------------------------------------>

<script type="text/html" id="table-wrapper-base-template">
    <div class="table-scroll bordered">
        <!--ko template: 'table-scroll-template' --><!--/ko-->
    </div>
</script>

<script type="text/html" id="virtual-table-scroll-template">
    <div class="table-scroll-content" data-bind="event: {
                scroll: function(obj, event) {
                    viewModels.tableVM.scroll(event.target.scrollTop);
                },
                contentsize: function(obj, event, ui) {
                    if (ui.height) {
                        viewModels.tableVM.resize({width: ui.width, height: ui.height});
                    }
                }
            }, contentSizeObserver: true,
            dwActivity: { active: viewModels.tableVM.isBusy }">
        <!--ko template: 'table-container-template' --><!--/ko-->
    </div>
</script>

<script type="text/html" id="virtual-table-custom-scroll-template">
    <div class="table-scroll-content" data-bind="event: {
                scroll: function(obj, event) {
                    viewModels.tableVM.scroll(event.target.scrollTop);
                }
            }, dwScrollbar: {
                contentSelector: false,
                options: {
                    resize: function(event, ui) {
                        viewModels.tableVM.resize({width: ui.width, height: ui.height});
                    },
                    autoAdjustContentPadding: true,
                    theme: 'scroll-theme-dark',
                    horizontalScrolling: false,
                    updateTriggers: {
                        observables: updateTriggers ?
                                [viewModels.tableVM.visibleRows].concat(updateTriggers.dwScrollbar || []) :
                                [viewModels.tableVM.visibleRows]
                    }
                }
            }">
        <!--ko template: 'table-container-template' --><!--/ko-->
    </div>
</script>

<script type="text/html" id="simple-table-scroll-template">
    <div class="table-scroll-content">
        <!--ko template: 'table-container-template' --><!--/ko-->
    </div>
</script>

<script type="text/html" id="resizable-table-container-template">
    <table class="table table-striped table-hover table-condensed table-layout-fixed">
        <thead>
            <tr>
                <!--ko template: { name: tableTemplates.tHeader, data: viewModels.headerVM || viewModels.tableVM } --><!--/ko-->
            </tr>
        </thead>
        <tbody data-bind="delegatedHandler: ['click', 'mousedown', 'dblclick']">
            <!--ko template: 'table-body-template' --><!--/ko-->
            <!--ko if: tableTemplates.rowsPostfix-->
            <!--ko template: tableTemplates.rowsPostfix --><!--/ko-->
            <!--/ko-->
        </tbody>
    </table>
</script>

<script type="text/html" id="base-table-container-template">
    <table class="table table-striped table-hover table-condensed table-layout-fixed"
           data-bind="jqData: ($data.resizableColumns && $data.resizableColumns.tableId) ?  {'resizable-columns-id':$data.resizableColumns.tableId } : null,
                        resizableColumns: $.extend({}, $data.resizableColumns || {}, {
                            updateTriggers: {
                                observables: $data.resizableColumns && $data.resizableColumns.updateTriggers ?
                                        [$data.viewModels.tableVM.visibleRows || $data.viewModels.tableVM.rows].concat($data.resizableColumns.updateTriggers) :
                                        [$data.viewModels.tableVM.visibleRows || $data.viewModels.tableVM.rows]
                            }
                    })">
        <thead>
            <tr>
                <!--ko template: { name: $data.tableTemplates.tHeader, data: $data.viewModels.headerVM || $data.viewModels.tableVM } --><!--/ko-->
            </tr>
        </thead>
        <tbody data-bind="delegatedHandler: ['click', 'mousedown', 'dblclick']">
            <!--ko template: 'table-body-template' --><!--/ko-->
            <!--ko if: $data.tableTemplates.rowsPostfix-->
            <!--ko template: tableTemplates.rowsPostfix --><!--/ko-->
            <!--/ko-->
        </tbody>
    </table>
</script>

<script type="text/html" id="virtual-table-body-template">
    <tr>
        <td class="ui-hidden" style="height: 0px;"
            data-bind="style: { height: viewModels.tableVM.topOffset() + 'px' },
                        css: { 'ui-hidden':  viewModels.tableVM.topOffset() == 0 },
                        attr: { colspan: viewModels.tableVM.getColumnsCount() }"></td>
    </tr>
    <!--ko template: 'simple-table-body-template' --><!--/ko-->
    <tr>
        <td class="ui-hidden" style="height: 0px;"
            data-bind="style: { height: viewModels.tableVM.bottomOffset() + 'px' },
                        css: { 'ui-hidden':  viewModels.tableVM.bottomOffset() == 0 },
                        attr: { colspan: viewModels.tableVM.getColumnsCount() }"></td>
    </tr>
</script>

<script type="text/html" id="table-items-view">
    <!--ko if: tableVM.visibleRows -->
    <!--ko template: {
            name: tableTemplates.tRow,
            foreach: tableVM.visibleRows()
        },
        notifyOnTrigger: {
            callback: function() {
                if(tableVM.visibleRows && tableVM.visibleRows.hasItems() && isVisible()) {
                    var firstRenderedSibling = DW.Utils.findNextElementSibling($element);
                    var height = $(firstRenderedSibling).outerHeight(true);
                    tableVM.setRowHeight(height);
                }
            },
            updateTriggers: {
                observables: [tableVM.visibleRows.hasItems, tableVM.visibleRows.hasSingleItem, isVisible]
            }
        }-->
    <!-- /ko -->
    <!-- /ko -->
    <!--ko if: !tableVM.visibleRows -->
    <!--ko template: {
            name: tableTemplates.tRow,
            foreach: tableVM.rows() }-->
    <!--/ko-->
    <!--/ko-->
</script>