<script type="text/html" id="relations-template">
    <div class="row bottom-offset-medium document-tray-relations-table">
        <div class="col-xs-12">
            <!-- ko with: relationsTableVM() -->
            <!-- ko template: {
                name: 'table-template',
                data: {
                    viewModels: {
                        mainVM : $data,
                        tableVM: $data.tableVM
                    },
                    tableTemplates: {
                        tHeader: 'relations-sortable-table-header',
                        tRow: 'relations-tRow-template'
                    }
                }}-->
            <!-- /ko -->
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-tertiary icon-only" data-bind="command: addUser"><i class="ui-icon ico-dec-2 dw-icon-plus"></i></button>
                <button type="button" class="btn btn-tertiary icon-only ui-state-disabled" data-bind="command: removeUser" disabled=""><i class="ui-icon ico-dec-2 dw-icon-minus"></i></button>
            </div>
            <!-- /ko -->
        </div>
    </div>
</script>

<script type="text/html" id="relations-sortable-table-header">
    <th class="sortable col-xs-6" data-bind="template: { name: 'sortable-table-header', data: { sortProperty: 'Name', text: DW.Relations.localize('Relations_Permission_MainTable_ColumnName') } }"></th>
    <th class="sortable col-xs-6" data-bind="template: { name: 'sortable-table-header', data: { sortProperty: 'type', text: DW.Relations.localize('Relations_Permission_MainTable_ColumnType') } }"></th>
</script>

<script type="text/html" id="relations-tRow-template">
    <tr data-mousedown="changeSelection"
        data-bind="css: { active: $parent.tableVM.isRowSelected($data) }, scrollElementIntoView: function () { return $data == $parent.tableVM.scrollRow(); }">
        <td class="col-xs-3">
            <div class="ellipsis-content">
                <span data-bind="text: $data.Name"></span>
            </div>
        </td>
        <td class="col-xs-3">
            <span data-bind="text: DW.Relations.localize(['Relations_Permission_MainTable_TypeUser','Relations_Permission_MainTable_TypeRole'][($data.type -1)])"></span>
        </td>
    </tr>
</script>
