<script type="text/html" id="popover-users-and-roles">
    <div data-bind="dwActivity: { active: relationsLoading, length: 3, width: 2, radius: 2 }">
        <!--ko ifnot: $data.relationsLoading()-->
        <!--ko ifnot: $data.hasRelations()-->
        <span class="label label-danger" data-bind="text: $R('NoUsersAndRolesRelations')"></span>
        <!--/ko-->
        <!--ko if: $data.hasRelations()-->
        <!--ko with:$data.usersAndRoles-->
        <!-- ko if: $data.users -->
        <!-- ko foreach: $data.users.result -->
        <span class="label label-info" data-bind="text: Name"></span>
        <!-- /ko -->
        <span class="label label-info" data-bind="visible: $data.users.more">...</span>
        <!-- /ko -->
        <!-- ko if: $data.roles -->
        <!-- ko foreach: $data.roles.result -->
        <span class="label label-primary" data-bind="text: Name"></span>
        <!-- /ko -->
        <span class="label label-primary" data-bind="visible: $data.roles.more">...</span>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
    </div>
</script>