@font-face {
  font-family: 'dwIconFont';
  src: url('../fonts/dwIconFont/dwIconFont.eot?hash=D5CAEA9913920509B6E2FCEB22823B8B');
  src: url('../fonts/dwIconFont/dwIconFont.eot?hash=D5CAEA9913920509B6E2FCEB22823B8B') format('embedded-opentype'), url('../fonts/dwIconFont/dwIconFont.svg?hash=AC260168B4D0A657B59AAEC487A0F71A') format('svg'), url('../fonts/dwIconFont/dwIconFont.ttf?hash=B1FA88F2CD3BA662DC01AC90E67F8333') format('truetype'), url('../fonts/dwIconFont/dwIconFont.woff?hash=C82FFFEAAA661D274C5E80F34F30CC55') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'password';
  src: url('../fonts/password-font/password.ttf') format('truetype'), url('../fonts/password-font/password.woff') format('woff'), url('../fonts/password-font/password.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/*For icons inserted before an element and not using the ui-icon class*/
.dw-font-icon {
  font-family: 'dwIconFont';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.password-font {
  font-family: 'password' !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.process-planner-icon {
  font-family: 'process-planner';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* jquery-ui icons
----------------------------------*/
.ui-icon-carat-1-n:before {
  content: "\e63d";
}
.ui-icon-carat-1-n-after:after {
  content: "\e63d";
}
.ui-icon-carat-1-ne:before {
  content: "\e670";
}
.ui-icon-carat-1-e:before,
.ui-icon-circle-triangle-e:before {
  content: "\e63e";
}
.ui-icon-carat-1-se:before {
  content: "\e670";
}
.ui-icon-carat-1-s:before {
  content: "\e640";
}
.ui-icon-carat-1-s-after:after {
  content: "\e640";
}
.ui-icon-carat-1-sw:before {
  content: "\e682";
}
.ui-icon-carat-1-w:before,
.ui-icon-circle-triangle-w:before {
  content: "\e63f";
}
.ui-icon-carat-1-nw:before {
  content: "\e63f";
}
.ui-icon-carat-2-n-s:before {
  content: "\e670";
}
.ui-icon-carat-2-e-w:before {
  content: "\e670";
}
.ui-icon-triangle-1-n:before {
  content: "\e67f";
}
.ui-icon-triangle-1-e:before {
  content: "\e680";
}
.ui-icon-triangle-1-s:before {
  content: "\e683";
}
.ui-icon-triangle-1-w:before {
  content: "\e681";
}
.ui-icon-refresh:before {
  content: "\e64c";
}
.ui-icon-refresh-left:before {
  content: "\e907";
}
.ui-icon-seek-first:before {
  content: "\e63b";
}
.ui-icon-seek-last:before {
  content: "\e61a";
}
.ui-icon-circle-close:after {
  content: "\e670";
}
.ui-icon-closethick:after {
  content: "\e671";
}
.ui-icon-seek-end:before {
  content: "\e61a";
}
.ui-icon-seek-start:before {
  content: "\e63b";
}
.ui-icon-gripsmall-diagonal-se:before {
  content: "\e6b6";
}
.ui-icon-alert:before {
  content: "\e601";
  color: #FCB200;
}
/*Navigation icons*/
.dw-icon-basketContentArea:before {
  content: "\e66a";
}
.dw-icon-searchContentArea:before {
  content: "\e64e";
}
.dw-icon-tasklistContentArea:before {
  content: "\e65e";
}
.dw-icon-workflowContentArea:before {
  content: "\e675";
}
.dw-icon-treeViewContentArea:before {
  content: "\e925";
}
.dw-icon-formsContentArea:before {
  content: "\e6de";
}
.dw-icon-formsType:before {
  content: "\e6de";
}
.dw-icon-OCR:before {
  content: "\e6e3";
}
.dw-icon-notification:before {
  content: "\e6e2";
}
.dw-icon-connect-MFP:before {
  content: "\e6dc";
}
.dw-icon-forms:before {
  content: "\e6de";
}
.dw-icon-request:before,
.CreateREQUEST:before {
  content: "\e6e5";
}
.dw-icon-connect-outlook:before {
  content: "\e6da";
}
.dw-icon-email-accounts:before {
  content: "\e6dd";
}
.dw-icon-subscribe-notifications:before {
  content: "\e6e7";
}
.dw-icon-notification-unsubscribed:before {
  content: "\e940";
}
.dw-icon-lab:before {
  content: "\e93f";
}
.dw-icon-field-mask:before {
  content: "\e93e";
}
.dw-icon-document-processing:before {
  content: "\e93d";
}
.dw-icon-spinner-left:before {
  content: "\e944";
}
.dw-icon-transfer:before {
  content: "\e943";
}
.dw-icon-revision-history:before,
.ShowVersionHistory:before {
  content: "\e942";
}
.dw-icon-predefined-locked:before {
  content: "\e941";
}
.dw-icon-shoe-print:before {
  content: "\e946";
}
.dw-icon-field-behavior:before {
  content: "\e945";
}
.dw-icon-heartbeat:before {
  content: "\e947";
}
.dw-icon-search-magnifier:before {
  content: "\e949";
}
.dw-icon-search-docuware:before {
  content: "\e948";
}
.dw-icon-contract:before {
  content: "\e94d";
}
.dw-icon-expand:before {
  content: "\e94c";
}
.dw-icon-field-validations:before {
  content: "\e94b";
}
.dw-icon-id:before {
  content: "\e94a";
}
.dw-icon-web-services:before {
  content: "\e94f";
}
.dw-icon-kinetic-solutions:before {
  content: "\e94e";
}
.dw-icon-workflowmanager-webservices:before {
  content: "\e958";
}
.dw-icon-workflowmanager-singletask:before {
  content: "\e957";
}
.dw-icon-workflowmanager-paralleltasks:before {
  content: "\e956";
}
.dw-icon-workflowmanager-email:before {
  content: "\e955";
}
.dw-icon-workflowmanager-condition:before {
  content: "\e954";
}
.dw-icon-workflowmanager-assignto:before {
  content: "\e953";
}
.dw-icon-workflowmanager-assigndata:before {
  content: "\e952";
}
.dw-icon-workflowmanager-aftertime:before {
  content: "\e951";
}
.dw-icon-workflowmanager-afteraction:before {
  content: "\e950";
}
.dw-icon-broken-relations:before {
  content: "\e95f";
}
.dw-icon-broken-relations-1:before {
  content: "\e95f";
}
.dw-icon-icons-stamps:before {
  content: "\e95d";
}
.dw-icon-stamps-image:before {
  content: "\e95c";
}
.dw-icon-stamps-text:before {
  content: "\e95b";
}
.dw-icon-stamps-workflow:before {
  content: "\e95a";
}
.dw-icon-imgstamp-emptybg:before {
  content: "\e959";
}
.dw-icon-filetype-xml:before {
  content: "\e962";
}
.dw-icon-filetype-xml-clipped:before {
  content: "\e961";
}
.dw-icon-globe:before {
  content: "\e960";
}
.dw-icon-user-management-single:before {
  content: "\e963";
}
.dw-icon-stamps-personal:before {
  content: "\e964";
}
.dw-icon-viewer-notifications:before {
  content: "\e965";
}
.dw-icon-cloudstatus:before {
  content: "\e969";
}
.dw-icon-cloudstatus-investigating:before {
  content: "\e968";
}
.dw-icon-cloudstatus-issue:before {
  content: "\e967";
}
.dw-icon-cloudstatus-resolved:before {
  content: "\e966";
}
.dw-icon-organization-settings:before {
  content: "\e96a";
}
/*Main arrow buttons container*/
button.icon-button {
  border: 0;
  padding: 0;
  background-color: #FFFFFF;
  font-size: 20px !important;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}
.icon-button {
  width: 34px;
  height: 36px;
  position: relative;
  font-size: 20px;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}
.icon-button:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.icon-button span {
  display: inline-block;
  width: 100%;
  height: auto;
}
.icon-button:hover {
  background-color: #C0E4F9;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 0 1px #303AB2;
  -moz-box-shadow: inset 0 0 0 1px #303AB2;
  box-shadow: inset 0 0 0 1px #303AB2;
}
.icon-button:active {
  background-color: #81CAF3;
}
.icon-button:focus {
  -webkit-box-shadow: inset 0 0 0 1px #303AB2;
  -moz-box-shadow: inset 0 0 0 1px #303AB2;
  box-shadow: inset 0 0 0 1px #303AB2;
}
.icon-button.selected .ui-icon.ui-icon[class*="icon-"] {
  margin-top: -0.6em;
}
.icon-button.border-left {
  border-left: 1px solid #c8ced1;
}
.icon-button.border-left:focus:before {
  border-left-color: transparent;
}
.icon-button.border-left:hover:before {
  border-left-color: #303AB2;
}
.icon-button.border-left:before {
  border-left: 1px solid #FFFFFF;
}
.icon-button.border-left-on-hover {
  border-left: 1px solid transparent;
}
.icon-button.border-left-on-hover:before {
  border-left: 1px solid transparent;
}
.icon-button.border-left-on-hover:hover {
  border-left-color: #c8ced1;
}
.icon-button.border-left-on-hover:hover:before {
  border-left-color: #303AB2;
}
.icon-button.border-left-on-hover:focus {
  -webkit-box-shadow: inset 0 0 0 1px #303AB2;
  -moz-box-shadow: inset 0 0 0 1px #303AB2;
  box-shadow: inset 0 0 0 1px #303AB2;
}
.icon-button.border-left-on-hover.selected {
  border-left-color: #c8ced1;
}
.icon-button.border-right {
  border-right: 1px solid #c8ced1;
}
.icon-button.border-right:before {
  border-right: 1px solid #FFFFFF;
}
.icon-button .dw-icon-close {
  font-size: 12px;
}
.icon-button .dw-icon-close-light {
  font-size: 11px;
}
.dw-logout .icon-button:hover {
  background: none;
  box-shadow: none;
}
/*General Icons*/
.dw-icon-drag-desktop:before {
  content: "\e693";
}
.dw-icon-split:before {
  content: "\e77e";
}
.dw-icon-checkmark:before {
  content: "\e77f";
}
.dw-icon-merge {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dw-icon-merge:before {
  content: "\e77e";
}
.dw-icon-play:before {
  content: "\e68d";
}
.dw-icon-left-align:before {
  content: "\e6b7";
}
.dw-icon-right-align:before {
  content: "\e6b9";
}
.dw-icon-center-align:before {
  content: "\e6b8";
}
.dw-icon-file-cabinet:before {
  content: "\e781";
}
.dw-icon-select-list:before {
  content: "\e905";
}
.dw-icon-multi-select-list:before {
  content: "\e904";
}
.dw-icon-file-cabinet-v1:before {
  content: "\e67a";
}
.dw-icon-connect-paperScan:before {
  content: "\e6c1";
}
.dw-icon-mobile:before {
  content: "\e6d2";
}
.dw-icon-android:before {
  content: "\e6bf";
}
.dw-icon-apple:before {
  content: "\e6c0";
}
.dw-icon-windows:before {
  content: "\e901";
}
.dw-icon-pointer:before {
  content: "\e6c4";
}
.dw-icon-import-configurations:before {
  content: "\e687";
}
.dw-icon-one-click-indexing:before {
  content: "\e627";
}
.dw-icon-connect-mail:before {
  content: "\e6d9";
}
.dw-icon-user-voice:before {
  content: "\e6a7";
}
.dw-icon-checkbox-unchecked:before {
  content: "\e6ce";
}
.dw-icon-checkbox-checked:before {
  content: "\e6cd";
}
.dw-icon-radio-unchecked:before {
  content: "\e6d0";
}
.dw-icon-radio-checked:before {
  content: "\e6d1";
}
.dw-icon-dropdown:before {
  content: "\e6cf";
}
.dw-icon-import-to:before {
  content: "\e92e";
}
.dw-icon-export-to:before {
  content: "\e92d";
}
.dw-icon-info-plain:before {
  content: "\e605";
}
.dw-icon-info-plain.gray {
  cursor: pointer;
}
.dw-icon-info-plain.gray:before {
  position: relative;
  z-index: 50;
  color: #B5BDC1;
  font-size: 16px;
}
.dw-icon-info-plain.gray:hover:before {
  color: #0089CF;
}
.dw-icon-database:before {
  content: "\e66c";
}
.dw-icon-text-sline:before {
  content: "\e6d4";
}
.dw-icon-text-mline:before {
  content: "\e6d5";
}
.dw-icon-number:before {
  content: "\e6aa";
}
.dw-icon-radio-buttons:before {
  content: "\e6d6";
}
.dw-icon-headline:before {
  content: "\e6d7";
}
.dw-icon-lock:before,
.ui-icon-locked:before {
  content: "\e695";
}
.dw-icon-keep-entries-unlocked:before {
  content: "\e694";
}
.dw-icon-keep-entries-locked:before {
  content: "\e695";
}
.dw-icon-arrow-down:before {
  content: "\e60d";
}
.dw-icon-folder:before {
  content: "\e925";
}
.dw-icon-folder-open:before {
  content: "\e926";
}
.dw-icon-folder-add:before {
  content: "\e928";
}
.dw-icon-folder-empty:before {
  content: "\e924";
}
.dw-icon-arrow-up:before {
  content: "\e60c";
}
.dw-icon-arrow-left:before {
  content: "\e63f";
}
.dw-icon-back {
  font-weight: bold !important;
}
.dw-icon-back:before {
  content: "\e63f";
}
.dw-icon-help:before {
  content: "\e608";
}
.dw-icon-dwlogo:before {
  content: "\e800";
}
.dw-icon-grid:before {
  content: "\e6df";
}
.dw-icon-logout:before {
  content: "\e6db";
}
.dw-icon-databse-fields:before {
  content: "\e6ec";
}
.dw-icon-dialog:before {
  content: "\e6eb";
}
.dw-icon-user-management:before {
  content: "\e6e8";
}
.dw-icon-add-fillarea:before {
  content: "\e6ee";
}
.dw-icon-mapping:before {
  content: "\e6ed";
}
.dw-icon-original-size:before {
  content: "\e6ef";
}
.dw-icon-maximize:before {
  content: "\e6cb";
}
/*TOASTR ICONS*/
.dw-icon-info:before {
  content: "\e605";
  color: #0089CF;
  font-size: 24px;
}
.dw-icon-toast-info:before {
  content: "\e605";
  color: #0089CF;
  font-size: 24px;
}
.dw-icon-success:before {
  content: "\e600";
  color: #368D2E;
  font-size: 24px;
}
.dw-icon-toast-success:before {
  content: "\e600";
  color: #368D2E;
  font-size: 24px;
}
.dw-icon-warning:before {
  content: "\e601";
  color: #FCB200;
  font-size: 24px;
}
.dw-icon-toast-warning:before {
  content: "\e601";
  color: #FCB200;
  font-size: 24px;
}
.dw-icon-error:before {
  content: "\e60b";
  color: #BB3937;
  font-size: 24px;
}
.dw-icon-toast-error:before {
  content: "\e60b";
  color: #BB3937;
  font-size: 24px;
}
.dw-icon-plus:before,
.ui-icon-plus:before {
  content: "\e656";
}
.dw-icon-minus:before,
.ui-icon-minus:before {
  content: "\e65a";
  font-size: 9px;
}
.dw-icon-close:after {
  content: "\e671";
}
.dw-icon-close-light:after {
  content: "\e90a";
}
.dw-icon-default:before {
  content: "\e649";
}
.dw-icon-default.disabled:before {
  content: "\e649";
  color: #a3adb2;
}
.dw-icon-star:before {
  content: "\e649";
}
.dw-icon-star.disabled:before {
  content: "\e649";
  color: #a3adb2;
}
.dw-icon-star-empty:before {
  content: "\e908";
}
.dw-icon-star-empty.disabled:before {
  content: "\e908";
  color: #a3adb2;
}
.dw-icon-indexing:before {
  content: "\e660";
}
.dw-icon-eye:before {
  content: "\e669";
}
.dw-icon-eye-disabled:before {
  content: "\e6a3";
}
.dw-icon-splitter:before {
  content: "\e65b";
}
.dw-icon-splitter-vertical:before {
  content: "\e6c5";
}
.dw-icon-calendar:before {
  content: "\e679";
}
.dw-icon-touch-mode:before {
  content: "\e6c7";
}
.dw-icon-mouse-mode:before {
  content: "\e6c6";
}
.dw-icon-more-vertical:before {
  content: "\e6f2";
}
.dw-icon-autoindex:before {
  content: "\e932";
}
.dw-icon-deletion-policy:before {
  content: "\e933";
}
.dw-icon-indexing-assistance:before {
  content: "\e934";
}
.dw-icon-predefined:before {
  content: "\e935";
}
.dw-icon-relations:before,
.ShowLinkedDocuments:before {
  content: "\e936";
}
.dw-icon-spacer:before {
  content: "\e937";
}
.dw-icon-cloud-upload:before {
  content: "\e938";
}
.dw-icon-cloud-product:before {
  content: "\e939";
}
.dw-icon-membership:before {
  content: "\e93a";
}
.dw-wf-status.overdue:before {
  content: "\e664";
  color: #FCB200;
  font-size: 16px;
}
.dw-wf-status.expire:before {
  content: "\e664";
  color: #BB3937;
  font-size: 16px;
}
.dw-icon-send-request:before,
.dw-icon-Tools_SendRequest:before,
.SendREQUEST:before {
  content: "\e911";
}
.dw-icon-start:before {
  content: "\e6a9";
}
.dw-icon-upload:before {
  content: "\e618";
}
.dw-icon-reset:before {
  content: "\e685";
}
.dw-icon-inquiry:before {
  content: "\e621";
}
.dw-icon-arrow-2-n-s:after {
  content: "\e684";
}
.dw-icon-arrow-4-n-s-e-w:before {
  content: "\e659";
}
/*MAIN MENU ICONS*/
.dw-icon-settings:before {
  content: "\e6f3";
}
.dw-icon-configurations:before {
  content: "\e6f0";
}
.dw-icon-desktop:before {
  content: "\e6f1";
}
.dw-icon-connect-desktop:before {
  content: "\e647";
}
.dw-icon-scan:before {
  content: "\e603";
}
.dw-icon-about:before {
  content: "\e662";
}
.dw-icon-my-docuware:before {
  content: "\e645";
}
.dw-icon-chat:before {
  content: "\e67c";
}
.dw-icon-forum:before {
  content: "\e692";
}
.dw-icon-key:before {
  content: "\e661";
}
.dw-icon-book:before {
  content: "\e6c2";
}
/*CONTEXT MENUS ICONS*/
.dw-icon-open-in-viewer:before,
.DisplayDocument:before {
  content: "\e625";
}
.dw-icon-open-in-new-viewer:before,
.ShowInSeparateViewer:before {
  content: "\e626";
}
.dw-icon-edit:before,
.EditDocument:before {
  content: "\e657";
}
.dw-icon-delete:before,
.DeleteSelectedDocument:before {
  content: "\e653";
}
.dw-icon-save:before {
  content: "\e66b";
}
.dw-icon-rename:before {
  content: "\e773";
}
.dw-icon-clip:before,
.AppendFromBasket:before {
  content: "\e67d";
}
.dw-icon-unclip:before {
  content: "\e637";
}
.dw-icon-staple:before {
  content: "\e61d";
}
.dw-icon-unstaple:before {
  content: "\e638";
}
.dw-icon-send:before,
.SendAsOriginal:before,
.SendAsPDFWithoutAnno:before,
.SendAsPDF:before,
.SendAsHyperlink:before,
.SendResultList:before {
  content: "\e622";
}
.dw-icon-set-current-version:before {
  content: "\e771";
}
.dw-icon-mobile-menu:before {
  content: "\e699";
}
.dw-icon-reply:before,
.EMailReply:before {
  content: "\e624";
}
.dw-icon-reply-all:before,
.EMailReplyAll:before {
  content: "\e623";
}
.dw-icon-forward:before,
.EMailForward:before {
  content: "\e62a";
}
.dw-icon-download:before,
.DownloadAsOriginalFile:before,
.DownloadAsPDFWithoutAnno:before,
.DownloadAsPDF:before {
  content: "\e666";
}
.dw-icon-print:before,
.PrintSelectedDocument:before {
  content: "\e655";
}
.dw-icon-printer:before {
  content: "\e6e4";
}
.dw-icon-import:before {
  content: "\e607";
}
.dw-icon-copy:before,
.CopyToBasket:before,
.CopyIntoAnotherFileCabinet:before {
  content: "\e66e";
}
.dw-icon-quick-copy:before {
  content: "\e6be";
}
.dw-icon-move:before {
  content: "\e629";
}
.dw-icon-store-auto:before {
  content: "\e66b";
}
.dw-icon-checkin:before {
  content: "\e771";
}
.dw-icon-checkout:before,
.CheckoutToBasket:before,
.CheckoutToFileSystem:before {
  content: "\e665";
}
.dw-icon-undo-checkout:before,
.ChangeDocumentStatus:before {
  content: "\e771";
}
.dw-icon-repeat-indexing:before {
  content: "\e6e1";
}
.dw-icon-show-index-entries:before {
  content: "\e77d";
}
.dw-icon-document-not-indexed:before {
  content: "\e77d";
}
.dw-icon-edit-index-entries:before,
.DisplayInfoBox:before {
  content: "\e77d";
}
.dw-icon-smart-connect:before {
  content: "\e602";
}
.dw-icon-connect:before {
  content: "\e6e6";
}
.dw-icon-edit-m-index-entries:before {
  content: "\e77d";
}
.dw-icon-linked-docs:before {
  content: "\e6f8";
}
.dw-icon-workflow-history:before,
.ShowWorkflowHistory:before {
  content: "\e6c8";
}
.dw-icon-workflow-task:before {
  content: "\e6c3";
}
.dw-icon-document-history:before,
.ShowHideCheckedoutDocuments:before {
  content: "\e76e";
}
.dw-icon-reassign-task:before {
  content: "\e76d";
}
.dw-icon-set-as-read:before {
  content: "\e620";
}
.dw-icon-set-as-unread:before {
  content: "\e61f";
}
.dw-icon-stop-workflow:before,
.dw-icon-stop:before {
  content: "\e648";
}
.dw-icon-export-CSV:before,
.ExportToCSV:before {
  content: "\e666";
}
.dw-icon-table-view:before,
.dw-icon-grid-data-view:before {
  content: "\e65d";
}
.dw-icon-thumb-view:before,
.dw-icon-thumbnail-data-view:before {
  content: "\e61b";
}
.dw-icon-indexcards-view:before,
.dw-icon-card-data-view:before {
  content: "\e778";
}
.dw-icon-text-view:before,
.dw-icon-text-data-view:before {
  content: "\e69a";
}
.dw-icon-sort:before {
  content: "\e64d";
}
.dw-icon-filter:before {
  content: "\e6cc";
}
.dw-icon-show-storedialog:before {
  content: "\e66b";
}
.dw-icon-create-DWrequest:before {
  content: "\e66b";
}
.dw-icon-change-indexterms:before,
.ChangeIndexOfMultipleDocuments:before {
  content: "\e77d";
}
.dw-icon-certificate:before {
  content: "\e6ba";
}
.dw-icon-certificate-invalid:before {
  content: "\e6bb";
}
.dw-icon-certificate-valid:before {
  content: "\e6bc";
}
.dw-icon-certificate-warning:before {
  content: "\e6bd";
}
.dw-viewerNoDoc:before {
  content: "\e63a";
  color: #91979b;
  font-size: 80px;
}
.dw-viewerNoDoc:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -40px;
}
.dw-viewerNoSection:before {
  content: "\e92a";
  color: #91979b;
  font-size: 80px;
}
.dw-viewerNoSection:before {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -40px;
}
.dw-icon-double-angle-left:before {
  content: "\e63b";
}
.dw-icon-angle-left:before {
  content: "\e63f";
}
.dw-icon-angle-right:before {
  content: "\e63e";
}
.dw-icon-double-angle-right:before {
  content: "\e61a";
}
.dw-icon-type:before {
  content: "\e646";
}
.dw-icon-link:before {
  content: "\e65f";
}
.dw-icon-icon_numeric:before {
  content: "\e903";
}
.dw-icon-icon_decimal:before {
  content: "\e906";
}
.dw-icon-icon-datetime:before {
  content: "\e902";
}
.dw-icon-paragraph-left:before {
  content: "\e698";
}
.dw-icon-file:before {
  content: "\e668";
}
.dw-icon-link2:before {
  content: "\e6d8";
}
.dw-icon-list:before {
  content: "\e65e";
}
.dw-icon-Table:before {
  content: "\e688";
}
.dw-icon-barcode:before {
  content: "\e92b";
}
.dw-icon-splitter-vertical:before {
  content: "\e6c5";
}
.dw-icon-cog:before {
  content: "\e66f";
}
.dw-icon-EmptyViewer:before {
  content: "\e63a";
}
.dw-icon-screen:before {
  content: "\e650";
}
.dw-icon-Anchor:before {
  content: "\e686";
}
.dw-icon-ButtonOK:before {
  content: "\e689";
}
.dw-icon-circle2:before {
  content: "\e673";
}
.dw-icon-processing:before {
  content: "\e923";
}
.dw-icon-zoom-in:before {
  content: "\e6a5";
}
.dw-icon-zoom-out:before {
  content: "\e6a4";
}
.top-bar-navigate-first:before {
  content: "\e63b";
}
.top-bar-navigate-first-disabled:before {
  content: "\e63b";
}
.top-bar-navigate-prev:before {
  content: "\e63f";
}
.top-bar-navigate-prev-disabled:before {
  content: "\e63f";
}
.top-bar-navigate-next:before {
  content: "\e63e";
}
.top-bar-navigate-next-disabled:before {
  content: "\e63e";
}
.top-bar-navigate-last:before {
  content: "\e61a";
}
.top-bar-navigate-last-disabled:before {
  content: "\e61a";
}
.document-nav-topbar-icon:before {
  content: "\e774";
}
.file-nav-topbar-icon:before {
  content: "\e77b";
}
.page-nav-topbar-icon:before {
  content: "\e64a";
}
.dw-icon-stamps:before {
  content: "\e777";
}
.dw-icon-stamps.decision:before {
  content: "\e6e9";
}
.dw-icon-stamps.yellow {
  text-shadow: -1px 0 #c8ced1, 0 1px #c8ced1, 1px 0 #c8ced1, 0 -1px #c8ced1;
}
.dw-icon-doc-split:before {
  content: "\e658";
}
.dw-icon-ann-arrow:before,
.dw-icon-Annotations_Arrow:before {
  content: "\e67e";
}
.dw-icon-ann-select-pointer:before,
.dw-icon-Annotations_Select:before {
  content: "\e66d";
}
.dw-icon-ann-delete:after,
.dw-icon-Annotations_Delete:after {
  content: "\e671";
}
.dw-icon-ann-text:before,
.dw-icon-Annotations_Text:before {
  content: "\e646";
}
.dw-icon-ann-marker:before,
.dw-icon-Annotations_Marker:before {
  content: "\e65c";
}
.dw-icon-ann-line-straight:before,
.dw-icon-Annotations_Line:before {
  content: "\e775";
}
.dw-icon-ann-rectangle-empty:before,
.dw-icon-Annotations_Rectangle:before {
  content: "\e676";
}
.dw-icon-ann-rectangle-filled:before,
.dw-icon-Annotations_FilledRectangle:before {
  content: "\e64b";
}
.dw-icon-ann-rectangle-filled-transparen:before,
.dw-icon-Annotations_TransparentRectangle:before {
  content: "\e76c";
}
.dw-icon-ann-ellipse-empty:before,
.dw-icon-Annotations_Ellipse:before {
  content: "\e674";
}
.dw-icon-ann-ellipse-filled:before,
.dw-icon-Annotations_FilledEllipse:before {
  content: "\e673";
}
.dw-icon-ann-ellipse-filled-transparent:before,
.dw-icon-Annotations_TransparentEllipse:before {
  content: "\e77c";
}
.dw-icon-ann-move-object {
  opacity: 0.2;
}
.dw-icon-ann-move-object:before {
  content: "\e673";
}
.dw-icon-Display_ZoomNumber:before {
  content: "\e668";
}
.dw-icon-Display_ZoomNumber:after {
  content: "\e64f";
}
.dw-icon-Display_ZoomNumber:after {
  position: absolute;
  top: 0;
  left: 0;
}
.dw-icon-dspl-enhancement:before,
.dw-icon-Display_DisplayEnhancement:before {
  content: "\e644";
}
.dw-icon-dspl-edit-layer:after {
  content: "\e663";
}
.dw-icon-dspl-edit-layer:after {
  font-size: 10px;
  color: #91979b;
  position: absolute;
  bottom: -1px;
  right: -6px;
}
.dw-icon-edit-layer1:before {
  content: "\e634";
}
.dw-icon-edit-layer2:before {
  content: "\e633";
}
.dw-icon-edit-layer3:before {
  content: "\e632";
}
.dw-icon-edit-layer4:before {
  content: "\e631";
}
.dw-icon-edit-layer5:before {
  content: "\e630";
}
.dw-icon-dspl-fit-to-width:before,
.dw-icon-Display_FitToWidthNoMargins:before {
  content: "\e779";
}
.dw-icon-dspl-fit-to-width-with-margins:before,
.dw-icon-Display_FitToWidth:before {
  content: "\e76a";
}
.dw-icon-dspl-fit-to-window:before,
.dw-icon-Display_FullDocument:before {
  content: "\e77a";
}
.dw-icon-dspl-invert:before,
.dw-icon-Display_Invert:before {
  content: "\e636";
}
.dw-icon-dspl-layer1:before,
.dw-icon-Display_ShowOverlay1:before {
  content: "\e62f";
}
.dw-icon-layer-full {
  text-decoration: underline;
}
.dw-icon-dspl-layer2:before,
.dw-icon-Display_ShowOverlay2:before {
  content: "\e62e";
}
.dw-icon-dspl-layer3:before,
.dw-icon-Display_ShowOverlay3:before {
  content: "\e62d";
}
.dw-icon-dspl-layer4:before,
.dw-icon-Display_ShowOverlay4:before {
  content: "\e62c";
}
.dw-icon-dspl-layer5:before,
.dw-icon-Display_ShowOverlay5:before {
  content: "\e62b";
}
.dw-icon-dspl-rotate-left:before,
.dw-icon-Display_RotateLeft:before {
  content: "\e652";
}
.dw-icon-dspl-rotate-right:before,
.dw-icon-Display_RotateRight:before {
  content: "\e651";
}
.dw-icon-dspl-zoom-in:before,
.dw-icon-Display_ZoomIn:before {
  content: "\e6a5";
}
.dw-icon-dspl-zoom-out:before,
.dw-icon-Display_ZoomOut:before {
  content: "\e6a4";
}
.dw-icon-dspl-zoom-tool:before,
.dw-icon-Display_MagnifyingGlass:before {
  content: "\e617";
}
.dw-icon-links-linked-docs:before,
.dw-icon-Tools_ShowLinkedDocuments:before {
  content: "\e6f8";
}
.dw-icon-nav-doc-first:before,
.dw-icon-Nav_FirstDocument:before,
.dw-icon-nav-file-first:before,
.dw-icon-Nav_FirstFile:before,
.dw-icon-nav-page-first:before,
.dw-icon-Nav_FirstPage:before {
  font-size: 18px;
}
.dw-icon-nav-doc-first:before,
.dw-icon-Nav_FirstDocument:before,
.dw-icon-nav-file-first:before,
.dw-icon-Nav_FirstFile:before,
.dw-icon-nav-page-first:before,
.dw-icon-Nav_FirstPage:before {
  content: "\e63b";
}
.dw-icon-nav-doc-last:before,
.dw-icon-Nav_LastDocument:before,
.dw-icon-nav-file-last:before,
.dw-icon-Nav_LastFile:before,
.dw-icon-nav-page-last:before,
.dw-icon-Nav_LastPage:before {
  font-size: 18px;
}
.dw-icon-nav-doc-last:before,
.dw-icon-Nav_LastDocument:before,
.dw-icon-nav-file-last:before,
.dw-icon-Nav_LastFile:before,
.dw-icon-nav-page-last:before,
.dw-icon-Nav_LastPage:before {
  content: "\e61a";
}
.dw-icon-nav-doc-prev:before,
.dw-icon-Nav_PreviousDocument:before,
.dw-icon-nav-file-prev:before,
.dw-icon-Nav_PreviousFile:before,
.dw-icon-nav-page-prev:before,
.dw-icon-Nav_PreviousPage:before {
  font-size: 18px;
}
.dw-icon-nav-doc-prev:before,
.dw-icon-Nav_PreviousDocument:before,
.dw-icon-nav-file-prev:before,
.dw-icon-Nav_PreviousFile:before,
.dw-icon-nav-page-prev:before,
.dw-icon-Nav_PreviousPage:before {
  content: "\e63f";
}
.dw-icon-nav-doc-next:before,
.dw-icon-Nav_NextDocument:before,
.dw-icon-nav-file-next:before,
.dw-icon-Nav_NextFile:before,
.dw-icon-nav-page-next:before,
.dw-icon-Nav_NextPage:before {
  font-size: 18px;
}
.dw-icon-nav-doc-next:before,
.dw-icon-Nav_NextDocument:before,
.dw-icon-nav-file-next:before,
.dw-icon-Nav_NextFile:before,
.dw-icon-nav-page-next:before,
.dw-icon-Nav_NextPage:before {
  content: "\e63e";
}
.dw-icon-Nav_DocumentNumber:before {
  content: "\e64a";
}
.dw-icon-Nav_FileNumber:before {
  content: "\e77b";
}
.dw-icon-Nav_PageNumber:before {
  content: "\e774";
}
.dw-icon-tools-check-sig:before {
  content: "\e604";
}
.dw-icon-tools-doc:before {
  content: "\e667";
}
.dw-icon-tools-doc-info:before,
.dw-icon-Tools_ShowDocumentInformation:before {
  content: "\e77d";
}
.dw-icon-tools-doc-ov:before,
.dw-icon-Tools_ShowDocumentOverview:before {
  content: "\e61b";
}
.dw-icon-play-5:before {
  content: "\e900";
}
.dw-icon-tools-workflow-history:before,
.dw-icon-Tools_WorkflowHistory:before {
  content: "\e6c8";
}
.dw-icon-tools-merge-layers:before,
.dw-icon-Display_MergeLayers:before {
  content: "\e691";
}
.dw-icon-tools-image-auto-correct:before,
.dw-icon-Display_ImageEnhancement:before {
  content: "\e68f";
}
.dw-icon-tools-freehand:before,
.dw-icon-Annotations_FreehandLine:before {
  content: "\e68e";
}
.dw-icon-tools-copy-to-clp:before,
.dw-icon-Tools_ShootToClipboard:before {
  content: "\e690";
}
.dw-icon-clipboard4:before {
  content: "\e6b2";
}
.dw-icon-tools-point-and-shoot-ov:before,
.dw-icon-Tools_PointAndShoot:before {
  content: "\e628";
}
.dw-icon-tools-download-document:before,
.dw-icon-Tools_Download:before {
  content: "\e666";
}
.dw-icon-tools-edit-doc:before,
.dw-icon-Tools_Edit:before {
  content: "\e657";
}
.dw-icon-tools-find:before,
.dw-icon-Tools_FulltextSearch:before {
  content: "\e64e";
}
.dw-icon-tools-find-next:before,
.dw-icon-Tools_FulltextSearchContinue:before {
  content: "\e61c";
}
.dw-icon-tools-forward:before {
  content: "\e62a";
}
.dw-icon-tools-print-doc:before,
.dw-icon-Tools_PrintDocument:before {
  content: "\e655";
}
.dw-icon-tools-reply:before {
  content: "\e624";
}
.dw-icon-tools-save:before,
.dw-icon-Tools_Save:before,
.dw-icon-Display_SaveRotation:before {
  content: "\e66b";
}
.dw-icon-tools-send:before,
.dw-icon-Tools_SendDocument:before {
  content: "\e622";
}
.dw-icon-tools-ta:before,
.dw-icon-Tools_TextAnnotation:before {
  content: "\e654";
}
.dw-icon-tools-ta-exists:before {
  content: "\e654";
  color: #FCB200;
}
.dw-icon-checksum-no-check:before {
  content: "\e677";
  color: #FCB200;
}
.dw-icon-checksum-check:before,
.dw-icon-Tools_Checksum:before {
  content: "\e677";
}
.dw-icon-checksum-ok:before {
  content: "\e600";
}
.dw-icon-checksum-error:before {
  content: "\e601";
}
.dw-icon-filetype {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #91979b;
}
.dw-icon-filetype:before {
  display: block;
}
.dw-icon-filetype:before {
  content: "\e613";
}
.dw-icon-filetype.attachment:before {
  content: "\e6a0";
}
.dw-icon-filetype.doc {
  color: #4c7cac;
}
.dw-icon-filetype.doc:before {
  content: "\e616";
}
.dw-icon-filetype.doc.attachment:before {
  content: "\e6a2";
}
.dw-icon-filetype.docx {
  color: #4c7cac;
}
.dw-icon-filetype.docx:before {
  content: "\e616";
}
.dw-icon-filetype.docx.attachment:before {
  content: "\e6a2";
}
.dw-icon-filetype.img {
  color: #a45ba4;
}
.dw-icon-filetype.img:before {
  content: "\e614";
}
.dw-icon-filetype.img.attachment:before {
  content: "\e6a1";
}
.dw-icon-filetype.jpg {
  color: #a48b5b;
}
.dw-icon-filetype.jpg:before {
  content: "\e614";
}
.dw-icon-filetype.jpg.attachment:before {
  content: "\e6a1";
}
.dw-icon-filetype.pdf {
  color: #b20000;
}
.dw-icon-filetype.pdf:before {
  content: "\e612";
}
.dw-icon-filetype.pdf.attachment:before {
  content: "\e69f";
}
.dw-icon-filetype.png {
  color: #52975e;
}
.dw-icon-filetype.png:before {
  content: "\e611";
}
.dw-icon-filetype.png.attachment:before {
  content: "\e69e";
}
.dw-icon-filetype.ppt {
  color: #a17555;
}
.dw-icon-filetype.ppt:before {
  content: "\e610";
}
.dw-icon-filetype.ppt.attachment:before {
  content: "\e69d";
}
.dw-icon-filetype.pptx {
  color: #a17555;
}
.dw-icon-filetype.pptx:before {
  content: "\e610";
}
.dw-icon-filetype.pptx.attachment:before {
  content: "\e69d";
}
.dw-icon-filetype.xml {
  color: #52975e;
}
.dw-icon-filetype.xml:before {
  content: "\e962";
}
.dw-icon-filetype.xml.attachment:before {
  content: "\e961";
}
.dw-icon-filetype.xls {
  color: #75ad6d;
}
.dw-icon-filetype.xls:before {
  content: "\e60e";
}
.dw-icon-filetype.xls.attachment:before {
  content: "\e69b";
}
.dw-icon-filetype.xlsx {
  color: #75ad6d;
}
.dw-icon-filetype.xlsx:before {
  content: "\e60e";
}
.dw-icon-filetype.xlsx.attachment:before {
  content: "\e69b";
}
.dw-icon-filetype.other:before {
  content: "\e613";
}
.dw-icon-filetype.other.attachment:before {
  content: "\e6a0";
}
.dw-icon-filetype.tif,
.dw-icon-filetype.tiff {
  color: #5485b7;
}
.dw-icon-filetype.tif:before,
.dw-icon-filetype.tiff:before {
  content: "\e60f";
}
.dw-icon-filetype.tif.attachment:before,
.dw-icon-filetype.tiff.attachment:before {
  content: "\e69c";
}
.dw-icon-filetype.cold {
  color: #60cbf5;
}
.dw-icon-filetype.cold:before {
  content: "\e678";
}
.dw-icon-filetype.dbrecord:before {
  content: "\e781";
}
.dw-icon-filetype.dbrecord.attachment:before {
  content: "\e77b";
}
.dw-icon-filetype.email:before {
  content: "\e622";
}
.dw-icon-filetype.email.attachment:before {
  content: "\e639";
}
.dw-icon-filetype.checkedout:after {
  content: "\e657";
}
.dw-icon-filetype.checkedout:before {
  opacity: 0.4;
}
.dw-icon-filetype.checkedout:after {
  background: white;
  font-size: 8px;
  position: absolute;
  right: 0;
  line-height: 8px;
  bottom: 0;
  color: #91979b;
}
.dw-icon-query-designer-minus-black:before {
  content: "\e6f7";
}
.dw-icon-query-designer-minus-white:before {
  content: "\e6f6";
}
.dw-icon-query-designer-plus-black:before {
  content: "\e6f5";
}
.dw-icon-query-designer-plus-white:before,
.dw-icon-plus-small:before {
  content: "\e6ea";
}
.dw-icon-get-link:before,
.dw-icon-Tools_GetLink:before {
  content: "\e65f";
}
.dw-icon-sync-one-way:before {
  content: "\e91b";
}
.dw-icon-sync-two-way:before {
  content: "\e91c";
}
.dw-icon-sync:before {
  content: "\e916";
}
.dw-icon-monitoring-status:before {
  content: "\e930";
}
.dw-icon-smtp:before {
  content: "\e92f";
}
.dw-icon-mail-services:before {
  content: "\e92f";
}
.dw-icon-undo:before {
  content: "\e91d";
}
.dw-icon-redo:before {
  content: "\e91a";
}
.dw-icon-status:before {
  font-size: 16px !important;
}
.ui-icon[class^="pp-"],
.ui-icon[class*=" pp-"] {
  font-family: 'process-planner';
}
.pp-icon-hide_title:before {
  content: "\e903";
}
.pp-icon-remove_step:before {
  content: "\e904";
}
.pp-icon-add_new_step:before {
  content: "\e905";
}
.pp-icon-dashboard_notifications:before {
  content: "\e906";
}
.pp-icon-dashboard_news-2:before {
  content: "\e900";
}
.pp-icon-dashboard_news-1:before {
  content: "\e901";
}
.pp-icon-dashboard_news:before {
  content: "\e902";
}
.pp-icon-collaborate_close:before {
  content: "\e500";
}
.pp-icon-collaborate_delete:before {
  content: "\e501";
}
.pp-icon-collaborate_edit:before {
  content: "\e502";
}
.pp-icon-collaborate_edit-off:before {
  content: "\e503";
}
.pp-icon-collaborate_edit-on:before {
  content: "\e504";
}
.pp-icon-collaborate_help:before {
  content: "\e505";
}
.pp-icon-collaborate_more:before {
  content: "\e506";
}
.pp-icon-collaborate_send-email:before {
  content: "\e507";
}
.pp-icon-collaborate_view:before {
  content: "\e508";
}
.pp-icon-dashboard_account:before {
  content: "\e509";
}
.pp-icon-dashboard_delete:before {
  content: "\e50a";
}
.pp-icon-dashboard_duplicate:before {
  content: "\e50b";
}
.pp-icon-dashboard_feedback:before {
  content: "\e50c";
}
.pp-icon-dashboard_help-learn:before {
  content: "\e50d";
}
.pp-icon-dashboard_logout:before {
  content: "\e50e";
}
.pp-icon-dashboard_more:before {
  content: "\e50f";
}
.pp-icon-dashboard_rename:before {
  content: "\e510";
}
.pp-icon-dashboard_search:before {
  content: "\e511";
}
.pp-icon-dashboard_view-list:before {
  content: "\e512";
}
.pp-icon-dashboard_view-thumb:before {
  content: "\e513";
}
.pp-icon-map_close:before {
  content: "\e514";
}
.pp-icon-map_icon:before {
  content: "\e515";
}
.pp-icon-project_delete:before {
  content: "\e516";
}
.pp-icon-project_warning:before {
  content: "\e517";
}
.pp-icon-sidebar_close-ho:before {
  content: "\e518";
}
.pp-icon-sidebar_note:before {
  content: "\e519";
}
.pp-icon-sidebar_open-ho:before {
  content: "\e51a";
}
.pp-icon-sidebar_sections:before {
  content: "\e51b";
}
.pp-icon-sidebar_step:before {
  content: "\e51c";
}
.pp-icon-sidebar_warning:before {
  content: "\e51d";
}
.pp-icon-step_connection:before {
  content: "\e51e";
}
.pp-icon-step_connection-dot:before {
  content: "\e51f";
}
.pp-icon-step_delete:before {
  content: "\e520";
}
.pp-icon-step_new-down:before {
  content: "\e521";
}
.pp-icon-step_new-left:before {
  content: "\e522";
}
.pp-icon-step_new-right:before {
  content: "\e523";
}
.pp-icon-step_new-up:before {
  content: "\e524";
}
.pp-icon-step_note:before {
  content: "\e525";
}
.pp-icon-toolbar_collaborate:before {
  content: "\e526";
}
.pp-icon-toolbar_dashboard:before {
  content: "\e527";
}
.pp-icon-toolbar_download-export:before {
  content: "\e528";
}
.pp-icon-toolbar_fullscreen:before {
  content: "\e529";
}
.pp-icon-toolbar_mainmenue:before {
  content: "\e52a";
}
.pp-icon-toolbar_note:before {
  content: "\e52b";
}
.pp-icon-toolbar_redo:before {
  content: "\e52c";
}
.pp-icon-toolbar_save:before {
  content: "\e52d";
}
.pp-icon-toolbar_section:before {
  content: "\e52e";
}
.pp-icon-toolbar_step:before {
  content: "\e52f";
}
.pp-icon-toolbar_undo:before {
  content: "\e530";
}
.pp-icon-toolbar_view:before {
  content: "\e531";
}
.pp-icon-toolbar_zoom:before {
  content: "\e532";
}
.pp-icon-toolbar_zoom1:before {
  content: "\e533";
}
.pp-icon-top-menue_account-settings:before {
  content: "\e534";
}
.pp-icon-top-menue_back:before {
  content: "\e535";
}
.pp-icon-top-menue_faq:before {
  content: "\e536";
}
.pp-icon-top-menue_product-tester:before {
  content: "\e537";
}
.pp-icon-top-menue_shortcuts:before {
  content: "\e538";
}
.pp-icon-top-menue_sign-out:before {
  content: "\e539";
}
.pp-icon-top-menue_support:before {
  content: "\e53a";
}
.pp-icon-top-menue_user-voice:before {
  content: "\e53b";
}
.dw-navbar {
  overflow: hidden;
  *position: relative;
  *z-index: 2;
  width: auto;
}
.dw-header {
  height: 36px;
}
.dw-header.dw-withColor {
  background-color: #eef1f2;
  background-image: none;
  border-bottom: 1px solid #c8ced1;
  border-top: 0;
}
.dw-header.dw-about {
  line-height: 36px;
}
.dw-header.dw-about .dw-logo {
  margin-left: 0;
}
.dw-header.dw-about label {
  float: right;
  display: inline-block;
}
.dw-header .dw-logo {
  float: left;
  display: inline-block;
  height: 100%;
  margin-left: 5px;
}
.dw-header .dw-logout {
  height: 36px;
  float: right;
  display: inline-block;
  line-height: 14px;
  *zoom: 1;
}
.dw-header .dw-logout .dw-logoutText {
  max-width: 245px;
  font-size: 12px;
  text-align: right;
  height: 36px;
  /*Vertically center the text given @navbarHeight*/
  padding: 3px 5px 3px;
}
.dw-header .dw-logout .dw-logoutText span {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 235px;
  display: inline-block;
}
.dw-header .dw-logout .dw-logoutText div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 235px;
}
.dw-header .dw-logout:before,
.dw-header .dw-logout:after {
  display: table;
  content: "";
  line-height: 0;
}
.dw-header .dw-logout:after {
  clear: both;
}
.dw-header .my-profile-button {
  border: 0;
  padding: 0;
  background-color: #FFFFFF;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}
.dw-header .my-profile-button:hover {
  background-color: #C0E4F9;
  cursor: pointer;
}
.dw-header .my-profile-button:active {
  background-color: #81CAF3;
}
.dw-header .my-profile-button:focus {
  -webkit-box-shadow: inset 0 0 0 1px #303AB2;
  -moz-box-shadow: inset 0 0 0 1px #303AB2;
  box-shadow: inset 0 0 0 1px #303AB2;
}
.dw-header .my-profile-button .dw-logoutIcon {
  width: 54px;
  height: 36px;
  position: relative;
  font-size: 20px;
}
.dw-header .my-profile-button .dw-logoutIcon:before {
  content: "\e640";
}
.dw-header .my-profile-button .dw-logoutIcon:before {
  font-family: 'dwIconFont';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 14px;
  position: absolute;
  top: calc(50% - 7px);
  right: 8px;
}
.dw-header .my-profile-button .dw-logoutIcon span {
  display: inline-block;
  width: 100%;
  height: auto;
  padding-right: 20px;
}
.dw-header .my-profile-button.menu-activated .dw-logoutIcon:before {
  content: "\e63d";
}
.dw-header .dw-icon-configurations {
  font-size: 18px !important;
}
.dw-header .dw-notification-panel {
  height: 100%;
  width: 37px;
  float: right;
  display: inline-block;
  padding: 7px;
  border-left: 1px solid #c8ced1;
  border-right: 1px solid #c8ced1;
  position: relative;
}
.dw-header .dw-notification-panel .dw-notification-panel-icon {
  font-size: 21px;
  cursor: pointer;
}
.dw-header .dw-notification-panel .dw-notification-panel-bage {
  padding: 4px;
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 8px;
  background-color: #ff0000;
  z-index: 1;
  border: 2px solid white;
}
.my-profile-menu.ui-menu-icons .ui-menu-item a {
  padding-right: 1.5em;
}